// PSEUDO
@mixin pseudo($display: block, $pos: absolute, $content: ''){
     content: $content;
     display: $display;
     position: $pos;
}

@mixin clearfix {
    clear: both;
    display: table; 
    content: "";
}


// TRANSITION
@mixin transition($args: all .2s ease-in-out) {
   -webkit-transition: $args;
   -moz-transition: $args;
   -ms-transition: $args;
   -o-transition: $args;
   transition: $args;
}

//PLACEHOLDER PSEUDO
@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}// useage: @include placeholder


//inner class 
@mixin inner ($max-width: $container) {
  @if $max-width {max-width: $max-width;}
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  @include innerpadding;
}
//PADDING
@mixin innerpadding($p-small: $spacing--sm,$p-medium: $spacing--md, $p-large: $spacing--lg, $p-xlarge: $spacing--xl ,$p-xxlarge: $spacing--xxxl) {
  @include breakpoint(small) {
      padding-left: $p-small;
      padding-right: $p-small;
  }
  @include breakpoint(medium) {
      padding-left: $p-medium;
      padding-right: $p-medium;
  }
  @include breakpoint(large) {
      padding-left: $p-large;
      padding-right: $p-large;
  }
  @include breakpoint(xlarge) {
      padding-left: $p-xlarge;
      padding-right: $p-xlarge;
  }
  @include breakpoint(xxlarge) {
      padding-left: $p-xxlarge;
      padding-right: $p-xxlarge;
  }
}//end inner padding

//OVRLAYS

@mixin overlay{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin cartography-pattern {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url(../img/cartography-pattern.png);
  background-position: top left;
  }

  @mixin rock-pattern {
  background-image: url(../img/rock-pattern.png);
  background-position: top left;
  }

  //PLACEHOLDER MIXIN
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}