$site-palette: (
  primary:    #3C4755,
  secondary:  #e34e41,
  default:    #0C2939,
  inverse:    #FFFFFF,
  accent1:    #DDDDDD,
  accent2:    #6C7F97,
  accent3:    #112A45,
  accent4:    #E9F3F7,
);