//TYPOGRAPHY

body{
	color: get-color(default);
	line-height: 1.875rem;
}//end body

//HEADINGS

h1, h2, h3, h4, h5, h6{
	color: get-color(default);
}

p{
	line-height: $line-height-md;
	color: get-color(default);
	font-size: 1.125rem;

	@include breakpoint (small only){
		font-size: 1rem;
		line-height: $line-height-sm;
	}//end small only breakpoint
}//end p

