*[role="slide-toggle-target"]{
	display:none;
}
.module.deck-accreditations{
	padding: $spacing--sm 0;

	@include breakpoint (small only) {
		padding: 0 0 $spacing--sm;
	}//end small only breakpoint
	.inner{
		@include inner;

		.grid-x{
			background-color: get-color(inverse);
			box-shadow: $box-shadow-1;
			padding: $spacing--md $spacing--sm;
			max-width: 1000px;
			margin: 0 auto;
			.cell{
				padding: 0 $spacing--sm;

				@include breakpoint (medium only) {
					padding: 0 $spacing--xs/2;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					&:not(:last-of-type){
						margin-bottom: $spacing--sm;
						border-bottom: 1px solid rgba(get-color(default),.1);
						padding: 0 0 $spacing--sm;
					}
				}//end small only breakpoint: ;
				.accred-card{
					.card-content{
						display: flex;
						flex-direction: column;
						align-items: center;
						position: relative;
						padding-bottom: $spacing--md;
						justify-content: center;
						img{
							margin-bottom: $spacing--sm;
							&.carf-logo{
								width: 100px;
							}//end .carf-logo
						}//end img

						h4{
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							text-align: center;
						}//end h4
					}//end .card-content

					.card-info{
						p{
							font-size: rem-calc(14px);
							line-height: 1.5rem;
						}//end p
					}//end p

					.toggle-button{
						a{
							font-size: 12px;
							text-transform: uppercase;
							font-weight: $font-weight-extrabold;
							color: get-color(accent2);
							position: relative;
							@include transition;
							display: block;
							text-align: center;

							&:after{
								content: "+";
								font-size: 1rem;
								top: 0;
								bottom: 0;
								width: 16px;
								display: inline-block;
								margin-left: $spacing--xs/2;
								color: get-color(secondary);
								@include transition;
							}//end after

							&:hover{
								color: get-color(secondary);
							 	@include transition;

							 	&:after{
							 		transform: rotate(360deg);
									transform-origin: 50% 50%;
									@include transition;
							 	}//end after
							}//end hvoer
						}//end a
					}//end .toggle-butotn
				}//end .accred-card
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .module.deck-accreditations