.module.callout{
	border: none;
	margin-bottom: 0;
	padding: 0;
	background: none;
	&.default-blue{
		background: linear-gradient(180deg, get-color(default) 12rem, get-color(accent4) 12rem, get-color(accent4) 100%);
	}//end .light-blue

	&.blue-inverse{
		background: linear-gradient(180deg, get-color(accent4) 80%, get-color(inverse) 80%, get-color(inverse) 100%);
	}//end .light-blue

	&.blue{
		background: get-color(accent4);
	}//end .light-blue

	&.with-top{
		padding-top: $spacing--xl;

		@include breakpoint (large down) {
			padding-top: $spacing--lg;
		}//end large-down breakpoint

		@include breakpoint (small only) {
			padding-top: $spacing--sm;
		}//end small only breakpoint
	}//end with-top

	&.with-bottom{
		padding-bottom: $spacing--xl;

		@include breakpoint (large down) {
			padding-bottom: $spacing--lg;
		}//end large-down breakpoint

		@include breakpoint (small only) {
			padding-bottom: $spacing--sm;
		}//end small only breakpoint
	}//end with-bottom

	.inner{
		@include inner;

		.card-section{
			background-color: get-color(inverse);
			border-radius: $border-radius;
			box-shadow: $box-shadow-2;
			padding: $spacing--xl $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--lg $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				padding: $spacing--sm;
			}//end small only breakpoint

			h2{
				margin-bottom: $spacing--sm;

				@include breakpoint (medium down) {
					margin-bottom: $spacing--xs;
				}//end medium down breakpoint
			}//end h2

			ul{
				li{
					font-size: $fontsize--lg;
					line-height: 2rem;

					@include breakpoint (small only) {
						font-size: $fontsize--md;
						margin-bottom: 0;
					}//end small only breakpoint

					&:last-of-type{
						margin-bottom: 0;
					}//end last-of-type
				}//end li
			}//end ul

			.button-group{
				margin: 0;
				max-width: 450px;
			}//end .button-group
		}//end .card-section
	}//end .inner
}//end .module.callout