.module.content-gate {
	padding: $spacing--lg 0;

	@include breakpoint (medium only) {
		padding: $spacing--md 0;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--xs 0;
	}//end small only breakpoint

	.inner {
		@include inner;

		& > .grid-x {
			& > .cell {
				&:first-of-type {
					padding-right: $spacing--sm;

					@include breakpoint (large down) {
						padding-right: 0;
					}//end large down breakpoint
				}//end &:first-of-type

				&:last-of-type {
					padding-left: $spacing--sm;

					@include breakpoint (large only) {
						padding-left: $spacing--sm;
					}//end large only breakpoint

					@include breakpoint (medium down) {
						padding-top: $spacing--sm;
						padding-left: 0;
					}//end medium down breakpoint
				}//end &:last-of-type
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .module.content-gate

.sl_content-locker {
	position: relative;
	min-height: 350px;
	border-radius: $border-radius;
	overflow: hidden;

	&__heading {
		font-size: rem-calc(20px);
		margin-bottom: $spacing--xs;
		font-weight: $font-weight-semibold
	}//end &__heading

	&__form {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(get-color(default), .8);
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1rem;

		.sl_card {
			text-align: center;
			width: 100%;
			max-width: 100%;
			padding: $spacing--sm $spacing--xs;
			background-color: get-color(inverse);

			@include breakpoint (xlarge only) {
				padding: $spacing--sm $spacing--xs;
			}//end xlarge only breakpoint		

			.sl_button {
				@extend .button;
				@extend .button.primary;
				margin-bottom: 0 !important;
			}//end .sl_button

			.sl_form {
				display: flex;

				@include breakpoint (large down) {
					flex-direction: column;

					& > * {
						width: 100%;
					}//end & > *
				}//end large down breakpoint

				&__input {
					margin: 0 $spacing--xs 0 0 ;
					height: 50px;
					padding: $spacing--xs/2 $spacing--xs;
					color: get-color(default);
					border-radius: $border-radius;

					@include breakpoint (large down) {
						margin: 0 0 $spacing--xs 0;
					}//end large down breakpoint

					@include placeholder {
						color: get-color(default);
					}//end @include placeholder
				}//end &__input
			}//end .sl_form

			#mce-responses .response {
				padding-top: $spacing--xs;

				a {
					display: block;
					text-decoration: underline;
				}
			}//end #mce-responses .response
		}//end .sl_card

		img {
			width: auto;
			height: 50px;
			margin-bottom: $spacing--xs;
		}//end img
	}//end &__form
	&__content {
		
	}//end &__content
}//end .sl_content-locker