.module.duo--cta{
	padding-top: $spacing--xl;
	background-color: get-color(accent4);

	@include breakpoint (large down) {
		padding-top: $spacing--lg;
	}//end large down breakpoint

	@include breakpoint (small only) {
		padding-top: $spacing--sm;
	}//end small only breakpoint
	.inner{
		@include inner;

		.grid-x{
			.cell{
				&:first-of-type{
					padding-right: $spacing--sm;

					@include breakpoint (medium only) {
						padding-right: $spacing--xs;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: 0;
					}//end small only breakpoint
				}//end first-of-type
				&:last-of-type{
					padding-left: $spacing--sm;

					@include breakpoint (medium only) {
						padding-left: $spacing--xs;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: 0;
						margin-bottom: $spacing--sm;
					}//end small only breakpoint
				}//end last-of-type
				.duo--card{
					background-color: get-color(default);
					padding: $spacing--xxxl $spacing--lg;
					border-radius: $border-radius;
					box-shadow: $box-shadow-2;

					@include breakpoint (large only) {
						padding: $spacing--lg;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						padding: $spacing--lg $spacing--md;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: $spacing--sm;
					}//end small only breakpoint

					h2{
						color: get-color(inverse);
						line-height: 3rem;
						margin-bottom: $spacing--md;
						max-width: 475px;
						font-size: 2.5rem;

						@include breakpoint (medium only) {
							font-size: 2rem;
							line-height: 2.5rem;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							font-size: $fontsize--xl;
							line-height: 2rem;
							margin-bottom: $spacing--sm;
						}//end small only breakpoint
					}//end h2

					.button{
						padding: $spacing--sm;
						font-size: 1.5rem;

						@include breakpoint (medium down) {
							font-size: $fontsize--md;
							padding: $spacing--xs;
						}//end medium down breakpoint
						span{
							display: none;
						}//end span
					}//end .button
				}//end .duo--card

				.duo--media{
					background-image: url("../img/duos/MH-womens-fountain-side.jpg");
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					border-radius: $border-radius;
					box-shadow: $box-shadow-2;
					overflow: hidden;
					height: 100%;
					width: 100%;

					@include breakpoint (small only) {
						min-height: 250px;
					}//end small only breakpoint
				}//end .duo--media
			}//end .cell
		}//end .grid-x
	}//end .inner
}//end .module.duo--cta