.module.duo--basic{
	padding: $spacing--xl 0;

	@include breakpoint (large down) {
		padding: $spacing--lg 0;
	}//end large down breakpoint

	@include breakpoint (small only) {
		padding: $spacing--sm 0;
	}//end small only breakpoint

	&.no-bottom {
		padding-bottom: 0 !important;
	}//end &.no-bottom
	.inner{
		@include inner;
		.grid-x{
			.cell{
				&.medium-order-1{
					padding-right: $spacing--xl;

					@include breakpoint (large only) {
						padding-right: $spacing--md;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						padding-right: $spacing--sm;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: 0;
					}//end small only breakpoint
				}//end first-of-type
				.duo--card{
					@include breakpoint (small only) {
						padding-top: $spacing--sm;
					}//end small only breakpoint
					@at-root .module.duo--basic.inverse {
						background-color: get-color(default);

						&.no-background{
							background: none;
						}//end .no-background

						.inner .grid-x .cell .duo--card {
							h2{
								color: get-color(inverse);
							}//end h2
							.divider{
								background-color: get-color(inverse);
							}//end .divider

							p{
								color: get-color(inverse);
							}//end p
						}//end .inner .grid-x .cell .duo--card
					}//@at-root
					h2{
						margin-bottom: $spacing--sm;
						font-family: $body-font-family;
						font-size: 2rem;

						@include breakpoint (medium down) {
							margin-bottom: $spacing--xs;
						}//end medium down breakpoint
					}//end h2
					.divider{
						background-color: get-color(default);
						display: block;
						margin-bottom: $spacing--sm;
						width: 4rem;
						height: 2px;

						@include breakpoint (medium down) {
							margin-bottom: $spacing--xs;
						}//end medium down breakpoint
					}//end divider

					.accreditations{
						margin-bottom: $spacing--sm;
						img{
							max-height: 100px;

							&:first-of-type{
								margin-right: $spacing--sm;
							}//end first-of-type 
						}//end img
					}//end .accreditations

					ul{
						li{
							line-height: 2rem;
							font-size: $fontsize--md;
						}//end li
					}//end ul
				}//end .duo--card

				.duo--media{
					border-radius: $border-radius;
					box-shadow: $box-shadow-2;
					background-size: cover;
					background-repeat: no-repeat;
					background-position: center center;
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;

					@include breakpoint (small only) {
						min-height: 200px;
					}//end small only breakpoint

					.button{
						background-color: get-color(inverse);
						color: get-color(primary);
						padding: $spacing--xs $spacing--xl;
						box-shadow: $box-shadow-1;
						display: flex;
						align-items: center;
						justify-content: center;
						@include transition;

						&:before{
							content:'';
							background-image: url("../img/icon/play-video.svg");
							background-repeat: no-repeat;
							height:24px;
							width: 24px;
							display: inline-block;
							font-size: $fontsize--md;
							margin-right: $spacing--xs;
						}//end before

						&:hover{
							@include transition;
							transform: scale(1.05);
							box-shadow: $box-shadow-2;
						}//end hover
					}//end button
				}//end .duo--media
			}//end .cell
		}//end .grid-x
	}//end .inner

	&.overlap{
		&.default-blue{
			background: linear-gradient(180deg, get-color(default) 12rem, get-color(accent4) 12rem, get-color(accent4) 100%);
			padding-top: 0;

			@include breakpoint (small only) {
				background: linear-gradient(180deg, get-color(default) 6rem, get-color(accent4) 6rem, get-color(accent4) 100%);
			}//end small only breakpoint
		}//end default-blue

		&.inverse-blue{
			background: linear-gradient(180deg, get-color(inverse) 12rem, get-color(accent4) 12rem, get-color(accent4) 100%);
			padding-top: 0;
		}//end .inverse-blue

		&.inverse-default{
			background: linear-gradient(180deg, get-color(inverse) 65%, get-color(default) 65%, get-color(default) 100%);
			padding-top: 0;
		}//end .inverse-blue

		&.with-top{
			padding-top: $spacing--xl;

			@include breakpoint (medium only) {
				padding-top: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				padding-top: $spacing--sm;
			}//end small only breakpoint
		}//end .with-top

		.inner{
			.grid-x{
				.cell{
					padding: 0;
					display: flex;

					&.content-cell.medium-order-2{
						.duo--card{
							margin-left: -90%;

							@include breakpoint (large only) {
								margin-left: -95%;
							}//end large only breakpoint

							@include breakpoint (medium only) {
								margin-left: -200%;
							}//end medium only breakpoint

							@include breakpoint (small only) {
								margin: 0;
							}//end small only breakpoint
						}//end .duo--card
					}//end .content.medium-order-2

					.duo--card{
						background-color: get-color(inverse);
						min-width: 190%;
						padding: $spacing--xl $spacing--lg;
						position: relative;
						z-index: 1;
						border-radius: $border-radius;
						box-shadow: $box-shadow-2;
						align-self: center;
						width: 100%;

						@include breakpoint (large down) {
							padding: $spacing--lg $spacing--md;
							min-width: 195%;
						}//end large down breakpoint

						@include breakpoint (medium only) {
							min-width: 300%;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							min-width: 0;
							padding: $spacing--sm;
							border-radius: 0 0 $border-radius $border-radius;
						}//end small only breakpoint
					}//end .duo--card

					.duo--media{
						min-height: 650px;

						@include breakpoint (small only) {
							min-height: 200px;
							border-radius: $border-radius $border-radius 0 0;
						}//end small only breakpoint
					}//end .duo--media
				}//end .cell
			}//end .grid-x
		}//end .inner
	}//end .overlap

	&.insurance{
		.inner{
			.grid-x{
				.cell{
					.duo--media{
						position: relative;
						display: flex;
						align-items: center;
						min-height: 350px;
						box-shadow: none;

						@include breakpoint (medium only) {
							margin-top: $spacing--sm;
							min-height: 200px;
						}//end medium only breakpoint


						.grid-x {
							position: absolute;
							top: 0;
							bottom: 0;
							right: 0;
							left: 0;

							.cell{
								display: flex;
								justify-content: center;
								margin-bottom: $spacing--xs;

								@include breakpoint (medium only){
									margin-bottom: $spacing--xs;
									padding: $spacing--xs;
								}//end medium only breakpoint

								@include breakpoint (small only){
									padding: $spacing--xs;
								}//end small only breakpoint
								.insurance-logos{
									align-self: center;
									flex: 0 1 auto;
								}//end insurance logos
							}//end cell
						}//end .grid-x
					}//end .duo-media
				}//end .cell
			}//end .grid-x
		}//end .inner
	}//end .insurance
}//end .module.duo--basic