.footer{
	background: $gradient-1;
	padding-top: $spacing--xxxl + $spacing--md;
	margin-top: -$spacing--xxxl;
	padding-bottom: $spacing--md;
	.inner{
		@include inner
		.privacy-policy{
			text-align: center;
			color: get-color(inverse);

			a{
				color: get-color(inverse);
				text-decoration: underline;
			}//end a
		}//end privacy policy
	}//end inner
}//end footer