#nav{
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99999;
	@include transition;

	&.navbar-shadow{
		@include transition;
		box-shadow: 0px 8px 16px rgba(0,0,0,.15);
	}//end navbar-shadow

	#mobilephone{
		.cell{
			color: get-color(inverse);
			text-align: center;
			font-family: $body-font-family;
			font-size: 1rem;
			font-weight: $font-weight-bold;
			text-transform: uppercase;
			padding: $spacing--xs/2 0;
			flex: 1 0 auto;
			display: flex;
			align-items: center;
			justify-content: center;

			&.mobilephone__chat{
				background: get-color(inverse);
				border: 2px solid get-color(secondary);
				color: get-color(secondary);
				display: none;

				&:before{
					content: '';
					background-image: url("../img/icon/chat-color.svg");
					background-repeat: no-repeat;
					height: 18px;
					width: 20px;
					display: inline-block;
					margin-right: $spacing--xs;
				}//end before

				&.active{
					display: flex;
				}//end .active
			}//end .mobilephone__chat
			&.mobilephone__call{
				background: get-color(secondary);

				&:before{
					content:'';
					background-image: url("../img/icon/phone-white.svg");
					background-repeat: no-repeat;
					height: 20px;
					width: 20px;
					display: inline-block;
					margin-right: $spacing--xs;
				}//end before
			}//end .mobilephone__chat
		}//end .cell
	}//end #mobilephone
	.title-bar{
		background: get-color(inverse);
		padding: 0;

		&-left{
			padding: $spacing--xs;
			max-width: 200px;
			flex: 1 0 auto;
			.site-logo{
				max-width: 100px;
			}//end .site-logo
		}//end &-left

		&-right{
			padding: $spacing--xs/2 $spacing--xs;
			flex: 2 1 auto;
			.hamburger{
				padding: 0;

				&:focus{
					outline: none;
				}//end focus

				&:hover{
					opacity: 1;
				}//end hover
				.hamburger-label{
					color: get-color(primary);
					text-transform: uppercase;
					font-family: $body-font-family;
					font-size: 12px;
					letter-spacing: 1px;
					font-weight: $font-weight-extrabold;
					line-height: 1;
					display: block;
				}//end .hamburger-label

				&-inner{
					background: get-color(primary);
					&:after, &:before{
						background: get-color(primary);
					}//end before and after
				}//end hamburger-inner
			}//.end hamburger

			.carf-logo{
				width:75px;
				margin: 0 0 0 auto;
			}//end .carf-logo
		}//end &-right
	}//end .title-bar

	#mobile-menu{
		background: $gradient-1;
		padding: $spacing--xs;
		.main-menu{
			margin: 0;
			list-style: none;
			display: flex;
			justify-content: center;
			flex-direction: column;
			text-align: center;
			font-family: $body-font-family;
			font-weight: $font-weight-bold;
			font-size: 1rem;
			letter-spacing: 1px;
			text-transform: uppercase;


			.menu-text{
				&:not(:last-child){
					margin-bottom: $spacing--xs;
				}//end not last child
				
				a{
					color: get-color(inverse);
				}//end a
			}//end .menu-text
		}//end .main-menu
	}//end #mobile-menu
	.top-bar{
		background: get-color(inverse);
		padding: $spacing--xs/2 0 $spacing--xs/2 0;
		@include transition;

		.inner{
			display: flex;
			align-items: center;
			@include inner;

			.top-bar-left{
				display: flex;
				align-items: center;

				a{
					display: block;
					width: 100%;
					@include transition;

					img{
						max-width: 150px;
						max-height: 67px;

						@include breakpoint (medium only){
							max-width: 125px;
						}//end medium only breakpoint
					}
				}//end a
			}// end .top-bar-left

			.top-bar-right{
				display: flex;
				align-self: center;
				align-items: flex-end;
				flex-direction: column-reverse;
				margin-right: -16px;

				.dropdown.menu{
					flex: 1 1 auto;
					font-family: $body-font-family;
					font-size: $fontsize--sm;
					color: get-color(inverse);
					background: transparent;
					text-transform: uppercase;
					letter-spacing: 1px;

					@include breakpoint (medium only){
						letter-spacing: .3px;
						padding-right: 0;
						font-size: 14px;
					}//end medium only breakpoint
					li{
						padding: 0;
						@include transition;

						&:hover{
							a{
								background: darken(get-color(inverse),5%);
								border-radius: $border-radius;
								box-shadow: inset 0 0 8px rgba(0,0,0,.10%);
								@include transition;
							}//end a
						}//end hover
						a{
							color: get-color(default);
							padding: $spacing--xs;
							@include transition;

							@include breakpoint (medium only) {
								padding: $spacing--xs/2;
							}//end medium only breakpoint
						}//end a

						// &:last-of-type a{
						// 		padding-right: 0;
						// 	}
					}//end li

				}//end .dropdown menu
				#callinfo{
					flex: 1 1 auto;
					font-family: $body-font-family;
					font-size: 1.75rem;
					font-weight: $font-weight-extrabold;
					color: get-color(secondary);
					letter-spacing: 1.75px;
					padding: 0 $spacing--xs;

					&:before{
						content:'';
						background-image: url("../img/icon/phone-color.svg");
						background-repeat: no-repeat;
						height:20px;
						width: 20px;
						display: inline-block;
						font-size: $fontsize--lg;
						margin-right: $spacing--xs;
						top: calc(50% - 12px);
					}//end before

					a{
						color: get-color(inverse);
					}//end a

					@include breakpoint (medium only){
						font-size: $fontsize--lg;
					}//end medium only breakpoint
				}//end .callinfo
			}// end .top-bar-right

			.carf-logo{
				width: 100px;
				margin-left: $spacing--sm;

				@include breakpoint (medium only) {
					width: 75px;
				}//end medium only breakpoint
			}
	}//end inner
	}//end .top-bar
}//end #nav