.module.spotlight{
	.inner{
		@include inner;
		@include innerpadding ($p-small: 0);

		.media-container{
			border-radius: $border-radius;
			box-shadow: $box-shadow-2;
			padding: $spacing--xl;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				padding: $spacing--sm;
				border-radius: 0;
				box-shadow: none;
			}//end small only breakpoint

			.card-section{
				background-color: get-color(inverse);
				border-radius: $border-radius;
				box-shadow: $box-shadow-2;
				padding: $spacing--xl;

				@include breakpoint (medium only) {
					padding: $spacing--lg $spacing--md;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					padding: $spacing--sm;
				}//end small only breakpoint

				h2{
					text-align: center;
					margin-bottom: $spacing--sm;
				}//end h2

				p{
					font-weight: $font-weight-bold;
					text-align: center;
				}//end p

				.button-group{
					margin: 0 auto;
					max-width: 450px;
				}//end .button-group

				.secondary-content{
					padding-top: $spacing--sm;
					p{
						font-weight: $font-weight-regular;
						text-align: left;

						&:last-of-type{
							margin-bottom: 0;
						}//end last-of-type
					}//end p
				}//end .secondary-content
			}//end .card-section
		}//end .media-container
	}//end .inner
}//end .module.spotlight