.module.staff{
	padding-top: $spacing--xl;
	z-index: 1;
	position: relative;

	@include breakpoint (large down) {
		padding-top: $spacing--lg;
	}//end large down breakpoint

	@include breakpoint (small only) {
		padding-top: $spacing--sm;
	}//end small only breakpoint
	.inner{
		@include inner;

		.staff-card{
			max-width: 860px;
			margin: 0 auto;

			h2{
				font-family: $body-font-family;
				font-size: 2rem;
				margin-bottom: $spacing--sm;
				text-align: center;

				@include breakpoint (medium only) {
					margin-bottom: $spacing--xs;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					text-align: left;
					margin-bottom: $spacing--xs;
				}//end small only breakpoint
			}//end h2

			p{
				text-align: center;
				margin-bottom: $spacing--lg;

				@include breakpoint (small only) {
					text-align: left;
				}//end small only breakpoint
			}//end p

			.divider{
				background-color: get-color(default);
				display: block;
				margin: 0 auto $spacing--sm;
				width: 4rem;
				height: 2px;

				@include breakpoint (medium only) {
					margin-bottom: $spacing--xs;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					margin: 0 0 $spacing--xs
				}//end small only breakpoint
			}//end divider
		}//end .staff-card

		.staff-container{
			padding: 0 $spacing--md;
			max-width: 1156px;
			margin: 0 auto;
			position: relative;
			padding-bottom: $spacing--sm;

			@include breakpoint (small only) {
				padding: 0;
			}//end small only breakpoint

			&:before{
				content:'';
				position: absolute;
				top: 45%;
				bottom: 0;
				left: 0;
				right: 0;
				border-radius: $border-radius;
				box-shadow: $box-shadow-2;
				background-color: get-color(primary);
				z-index: -1;

				@include breakpoint (small only) {
					display: none;
				}//end small only breakpoint
			}//end before
			.grid-x{
				max-width: 640px;
				margin: 0 auto;
				.cell{
					padding: 0 $spacing--md;

					@include breakpoint (large only) {
						padding: 0 $spacing--sm;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						padding: 0 $spacing--xs;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						padding: 0;
						margin: 0 auto $spacing--sm;
						max-width: 400px;

						&:last-of-type{
							margin-bottom: 0
						}//end last-of-type
					}//end small only breakpoint

					.staff-photo{
						min-height: 250px;
						background-size: cover;
						background-repeat: no-repeat;
						background-position: center center;
						border-radius: $border-radius;
						box-shadow: $box-shadow-2;
						margin-bottom: $spacing--sm;

						@include breakpoint (small only) {
							margin: 0 auto;
							width: 90%;
							max-width: 300px;
						}//end small only breakpoint
					}//end .staff-photo
					.staff-info{
						@include breakpoint (small only) {
							padding: $spacing--md $spacing--sm $spacing--xs;
							border-radius: $border-radius;
							box-shadow: $box-shadow-2;
							margin-top: -$spacing--xs;
							background-color: get-color(primary);
							position: relative;
							z-index: -1;
						}//end small only breakpoint
						h3, h4{
							font-family: $body-font-family;
							color: get-color(inverse);
							font-weight: $font-weight-regular;
							font-size: 1.5rem;
							text-align: center;
							margin-bottom: 0;

							@include breakpoint (medium only) {
								font-size: $fontsize--md;
							}//end medium only breakpoint
						}//end h3, h4

						h4{
							font-size: $fontsize--md;

							@include breakpoint (medium only) {
								font-size: $fontsize--sm;
							}//end medium only breakpoint
						}//end h4

					}//end .staff-info
				}//end .cell
			}//end .grid-x
		}//end .staff-container
	}//end .inner
}//end .module.staff