.button{
	font-family: $body-font-family;
	text-transform: uppercase;
	font-weight: $font-weight-bold;
	font-size: $fontsize--sm;
	padding: $spacing--xs;
	display: block;
	border-radius: $border-radius;
	position: relative;

	&.primary{
		background: get-color(secondary);
		flex-direction: column;
		@include transition;

		&:hover{
			background: darken(get-color(secondary),10%);
			@include transition;

		}//end hover

		&.chat{
			display: none;
			background: none;
			flex-direction: row;
			padding-top: $spacing--xs;
			padding-bottom: $spacing--xs;
			
			&:before{
					content:'';
					background-image: url("../img/icon/chat-white.svg");
					background-repeat: no-repeat;
					height:17px;
					width: 20px;
					display: inline-block;
					margin-right: $spacing--xs;
				}//end before

			&.red{
				color: get-color(secondary);

				&:before{
					background-image: url("../img/icon/chat-color.svg");
				}//end &:before

				&:hover{
					color: darken(get-color(secondary), 5%);
					background: darken(get-color(inverse),5%);
					border-radius: $border-radius;
					box-shadow: inset 0 0 8px rgba(0,0,0,.10%);
					@include transition;

					&:before{
						background-image: url("../img/icon/chat-color.svg");
					}//end before
				}//end hover
			}//end red
			

			&:hover{
				border-radius: $border-radius;
				box-shadow: inset 0 0 8px rgba(0,0,0,.50%);
				background: rgba(get-color(default), .7);
				@include transition;

				&:before{
					background-image: url("../img/icon/chat-white.svg");
				}//end before
			}//end hover

			&.active{
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}//end chat

		&.hollow{
			background: transparent;
			border: 2px solid get-color(inverse);
			color: get-color(inverse);
			@include transition;

			&:hover{
				background: get-color(inverse);
				border: 2px solid get-color(inverse);
				color: get-color(secondary);
				@include transition;
			}//end hover

			&.red{
				border-color: get-color(secondary);
				color: get-color(secondary);

				&:hover{
					background: darken(get-color(secondary),10%);
					color: get-color(inverse);
					border-color: darken(get-color(secondary),10%);
					@include transition;
				}
			}//end green

			.chat-is-offline{
				display: none;
			}

			&.offline{
				.chat-is-online{
					display: none;
				}//end .chat-is-online

				.chat-is-offline{
					display: block;
				}//end .chat-is-offline
			}//end offline
		}//end .hollow
	}//end primary

	span{
		font-size: $fontsize--xs;
		display: block;
		text-transform: none;
		margin-bottom: $spacing--xs/4;
	}//end span
}// end .button

.button-group.expanded{
	margin-bottom: 0;
	align-self: center;

	@include breakpoint (small only){
		flex-direction: column;
		width: 100%;
	}//end small only breakpoint
	.button{
		font-size: $fontsize--sm;
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;

		&.chat{
			display: none;

			&.active{
				display: flex;
			}//end .active
		}//end .chat

		@include breakpoint (small only){
			width: 100%;
		}//end small only breakpoint

		&:first-of-type{
			margin-right: $spacing--xs;

			@include breakpoint (small only){
				margin-right: 0;
				margin-bottom: $spacing--xs;
			}//end small only breakpoint
		}//end first of type
	}//end .button
}//end .button-group

.inner{
	margin: 0 auto;
	max-width: $container;
}//end inner

.content{
	margin-top: 180px; 

	@include breakpoint (medium only) {
		margin-top: 180px; 
	}//end medium only breakpoint

	@include breakpoint (small only) {
		margin-top: 214px;
	}//end small only breakpoint
}//end .content

.divider{
	background-color: get-color(default);
	display: block;
	margin-bottom: $spacing--sm;
	width: 4rem;
	height: 2px;

	@include breakpoint (small only) {
		margin-bottom: $spacing--xs;
	}//end small only breakpoint
}//end divider
