.module.upcoming-webinar {
	padding: $spacing--lg 0;

	@include breakpoint (medium only) {
		padding: $spacing--md 0;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding: $spacing--xs 0;
	}//end small only breakpoint

	.inner {
		@include inner;

		& > .grid-x {
			& > .cell {
				display: flex;
				align-items: center;
				&:first-of-type {
					justify-content: center;

					@include breakpoint (large down) {
						padding-right: 0;
					}//end large down breakpoint
				}//end &:first-of-type

				&:last-of-type {
					padding-left: $spacing--sm;

					@include breakpoint (large only) {
						padding-left: $spacing--sm;
					}//end large only breakpoint

					@include breakpoint (medium down) {
						padding-top: $spacing--sm;
						padding-left: 0;
					}//end medium down breakpoint
				}//end &:last-of-type
			}//end .cell
		}//end .grid-x

		.upcoming-webinar__image {
			height: 300px;
			width: 300px;
			border-radius: 50%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}

		.upcoming-webinar__content {
			h2 {
				font-size: 1.25rem;
				font-family: $body-font-family;
			}//end h2

			.button {
				display: inline-block;
			}//end .button
		}//end .upcoming-webinar__content
	}//end .inner
}//end .module.content-gate