.module.vob{
	background-color: get-color(accent4);
	padding: $spacing--md 0;

	&.with-bottom{
		margin-bottom: $spacing--lg;

		@include breakpoint (medium only) {
			margin-bottom: $spacing--sm;
		}//end medium only breakpoint
	}//end .with-bottom

	&.no-bottom{
		padding-bottom: 0;
	}//end .no-bottom

	.inner{
		@include inner;
		.vob-card{
			background-color: get-color(inverse);
			border-radius: $border-radius;
			padding: $spacing--md;
			box-shadow: $box-shadow-2;

			.cell{
				&:first-of-type{
					padding-right: $spacing--lg;
				}//end first-of-type

				&:last-of-type{
					align-items: center;
					justify-content: center;
					display: flex;
					flex-direction: column;

					p {
						margin-bottom: $spacing--xs/2;
						font-weight: 600;
					}
					.button{
						padding: $spacing--xs;
						width: 100%;
						font-size: 1.25rem;
						display: flex;
						justify-content: center;
						flex-direction: row;

						// &:before{
						// 	content:'';
						// 	background-image: url("../img/icon/contact.svg");
						// 	background-repeat: no-repeat;
						// 	height:19px;
						// 	width: 19px;
						// 	display: inline-block;
						// 	margin-right: $spacing--xs;
						// }//end before

						&:focus{
							background: darken(get-color(secondary),10%);
						}
					}//end .button
				}//end last-of-type
			}//end .cell
		}// end .vob-card
	}//end .inner
}//end .module.vob

.reveal.vob{
	padding: 0;
	max-width: 600px;
	top: 0 !important;
}//end .reveal.vob