.wrapper{
	padding-top: $spacing--xl;

	@include breakpoint (medium only) {
		padding-top: $spacing--lg;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding-top: $spacing--sm;
	}//end small only breakpoint

	&.no-top{
		margin-top: -$spacing--xxl;
		padding-top: $spacing--xxl;
	}//end no-top

	&.inverse{
		background: $gradient-1;
	}//end .inverse

	&>h2{
		text-align: center;
		@include inner;
	}//end h2
}//end .wrapper