.module.wysiwyg{
	background-color: get-color(default);
	padding: $spacing--xl 0;

	@include breakpoint (large down) {
		padding: $spacing--lg 0;
	}//end large down breakpoint

	@include breakpoint (small only) {
		padding: $spacing--sm;
	}//end small only breakpoint

	&.no-top{
		padding-top: $spacing--xxxl + $spacing--xl;
		padding-bottom: $spacing--sm;
		margin-top: -$spacing--xxxl;

		@include breakpoint (large down) {
			padding-top: $spacing--xxxl + $spacing--lg;
		}//end large down breakpoint

		@include breakpoint (small only) {
			padding-top: $spacing--xxxl + $spacing--sm;
		}//end small only breakpoint
	}//end no-top
	.inner{
		@include inner;

		h2{
			color: get-color(inverse);
			text-align: center;
			margin-bottom: $spacing--sm;

			@include breakpoint (medium only) {
				margin-bottom: $spacing--xs;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				text-align: left;
				margin-bottom: $spacing--xs;
			}//end small only breakpoint
		}//end h2

		.divider{
			background-color: get-color(inverse);
			margin: 0 auto $spacing--sm;

			@include breakpoint (medium only) {
				margin-bottom: $spacing--xs;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				margin: 0 0 $spacing--xs;
			}//end small only breakpoint
		}//end divider

		.grid-x{
			max-width: 960px;
			margin: 0 auto;
			padding-top: $spacing--sm;
			.cell{
				padding: 0 $spacing--md;
				margin-bottom: $spacing--md;

				@include breakpoint (small only) {
					padding: 0;
					margin-bottom: $spacing--sm;

					&:last-of-type{
						margin-bottom: 0;
					}//end last-of-type
				}//end small only breakpoint
				.card-info{
					img{
						height: 50px;
						margin-bottom: $spacing--md;
					}//end img

					h3{
						color: get-color(inverse);
						font-size: 1.25rem;
					}//end h3

					p{
						color: get-color(inverse);

						&:last-of-type{
							margin-bottom: 0;
						}//end last-of-type
					}//end p
				}//end .card-info
			}//end .cell
		}//end .grid-x
	}//end inner

	&.two-up{

		.inner{
			h2{
				text-align: left;
				font-size: 2rem;
				font-family: $body-font-family;
			}//end h2

			.divider{
				margin: 0 0 $spacing--sm;
			}//end .divider
			.grid-x{
				max-width: none;
				padding: 0;
				.cell{
					margin-bottom: 0;

					@include breakpoint (small only) {
						margin-bottom: $spacing--sm;

						&:last-of-type{
							margin-bottom: 0;
						}//end last-of-type
					}//end small only breakpoint
					&:first-of-type{
						padding: 0 $spacing--md 0 0;

						@include breakpoint (small only) {
							padding: 0;
						}//end small only breakpoint
					}//end first-of-type
					&:last-of-type{
						padding: 0 0 0 $spacing--md;

						@include breakpoint (small only) {
							padding: 0;
						}//end small only breakpoint
					}//end last-of-type
					.card-info{

						ul{
							margin-bottom: 0;
							li{
								color: get-color(inverse);
								font-size: $fontsize--md;
								line-height: 2rem;
							}//end li
						}//end ul
					}//end .card-info
				}//end .cell
			}//end .grid-x
		}//end .inner

		&.inverse {
			background-color: get-color(inverse);
			.inner {
				h2 {
					color: get-color(default);
				}

				.divider {
					background-color: get-color(default);
				}
				.grid-x{
					.cell{
						.card-info{
							h3{
								color: get-color(default);
							}//end h3

							p{
								color: get-color(default);
							}//end p

							ul{
								li{
									color: get-color(default);
								}//end li
							}//end ul
						}//end .card-info
					}//end .cell
				}//end .grid-x
			}//end .inner
		}//end &.inverse
	}//end .two-up
}//end .module.wysiwyg