---

layout: pages

---

{{> 00-header site carf-mobile=true}}

<div class="content">
{{> component-page-title title="Frequently Asked Questions"}}
{{> component-duo faqs.detox}}
{{> component-duo faqs.length class="overlap inverse-default" large-content="3" large-media="9" medium-content="3" medium-media="9" media-left=true buttons=true}}
{{> component-duo faqs.cost class="inverse" media-left=true}}
{{> component-callout faqs.job class="with-top" divider=true buttons=true}}
<div class="inverse no-top wrapper">
	{{> component-duo faqs.home class="inverse no-background"}}
	{{> component-duo faqs.difference media-left=true class="inverse no-background"}}
	{{> component-duo faqs.cellphone class="inverse no-background"}}
</div>{{!--/.inverse.wrapper--}}
{{> component-duo faqs.just-detox class="overlap" large-content="3" large-media="9" medium-content="3" medium-media="9"}}
{{> component-cta}}
{{> component-footer}}
</div>