#admissions{
	.module.spotlight{
		background-color: get-color(accent3);
		padding-top:$spacing--xxxl;

		@include breakpoint (xlarge only){
			padding-top: $spacing--xl;
		}//end xlarge only breakpoint

		@include breakpoint (large only){
			padding-top: $spacing--lg;
		}//end large only breakpoint

		@include breakpoint (medium down){
			padding-top: $spacing--md;
		}//end medium only breakpoint

		&.no-overlap{
			margin-top: 0;
			padding-top: $spacing--xl;
		}//end .no-overlap
		.inner{
			@include inner;
			@include innerpadding($p-xlarge: $spacing--xxxl + $spacing--lg, $p-xxlarge: $spacing--xxxl*2);

			.spotlight--card{
				border-radius: $border-radius;
				background-color: get-color(inverse);
				padding: $spacing--lg $spacing--xl;
				box-shadow: $box-shadow-2;

				@include breakpoint (xlarge down){
					padding: $spacing--lg;
				}//end xlarge only breakpoint

				@include breakpoint (medium only){
					padding: $spacing--lg $spacing--md;
				}//end medium only breakpoint

				@include breakpoint (small only){
					padding: $spacing--md $spacing--sm;
				}//end small only breakpoint

				h2{
					margin-bottom: $spacing--md;

					@include breakpoint (medium only){
						margin-bottom: $spacing--sm;
					}//end medium only breakpoint

					@include breakpoint (small only){
						margin-bottom: $spacing--xs;
					}//end small only breakpoint
				}//end h2

				.divider{
					background-color: get-color(default);
					display: block;
					margin-bottom: $spacing--md;
					width: 4rem;
					height: 2px;

					@include breakpoint (medium only){
						margin-bottom: $spacing--sm;
					}//end medium only breakpoint

					@include breakpoint (small only){
						margin-bottom: $spacing--xs;
					}//end small only breakpoint
				}//end divider
				p{
					margin-bottom: $spacing--sm;
				}//end p

				.button-group.expanded .button{
					flex: 0 1 auto;
				}
			}//end spotlight--card
		}//end inner
	}//end module spotlight
}//end admissions