.module.billboard{
	@include inner;
	padding-top: 2.5rem;

	@include breakpoint (medium only) {
		padding-top: $spacing--md;
	}//end medium only breakpoint

	@include breakpoint (small only) {
		padding-top: $spacing--sm;
	}//end small only breakpoint

	.inner{
		background-image: url("../img/michaelshouse-hero.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: 640px;
		position: relative;
		display: flex;
		justify-content: start;
		align-items: center;
		border-radius: $border-radius;
		overflow: hidden;
		box-shadow: $box-shadow-2;

		@include breakpoint (medium only){
			height: 525px;
		}//end medium only breakpoint

		@include breakpoint (small only){
			height: auto;
			background-position: left center;
		}//end medium only breakpoint


		.card-section{
			z-index: 1;
			height: 100%;
			max-width: 375px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: $spacing--md;
			position: relative;
			background-color: rgba(get-color(accent3),.75);

			@include breakpoint (medium only){
				padding: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small only){
				width: 100%;
				max-width: none;
			}//end small only breakpoint

			h3{
				font-family: $body-font-family;
				font-size: $fontsize--sm;
				text-transform: uppercase;
				letter-spacing: 1px;
				color: get-color(accent1);
				font-weight: $font-weight-extrabold;

				@include breakpoint (small only){
					font-size: $fontsize--xs;
				}//end small only breakpoint
			}//end h3
			h1{
				text-align: left;
				color: get-color(inverse);
				line-height: 2.75rem;
				margin-bottom: $spacing--md;

				@include breakpoint (medium only){
					margin-bottom: $spacing--sm;
				}//end medium only breakpoint

				@include breakpoint (small only){
					margin-bottom: $spacing--xs;
				}//end small only breakpoint
			}//end h1

			.divider{
				height: 2px;
				width: 64px;
				background-color: get-color(inverse);
				margin-bottom: $spacing--md;

				@include breakpoint (medium only){
					margin-bottom: $spacing--sm;
				}//end medium only breakpoint

				@include breakpoint (small only){
					margin-bottom: $spacing--xs;
				}//end small only breakpoint
			}//end divider

			p{
				text-align: left;
				font-size: $fontsize--md;
				line-height:$line-height-md;
				color: get-color(inverse);
				margin-bottom: $spacing--sm;

				@include breakpoint (medium down){
					font-size: $fontsize--sm;
					line-height: $line-height-sm
				}//end medium only breakpoint
			}//end p

			@include breakpoint (small only){
				.button-group{
					flex-direction: column;
					max-width: none;
					margin: 0;

					.button{
						width: 100%;

						&.primary:first-of-type{
							margin-bottom: $spacing--xs;
						}//end .primary
					}//end .button
				}//end .button group
			}//end small only brekapoint
		}//end .card-section
	}//end inner

	&.full{
		.inner{
			height: auto;
			padding: $spacing--xl $spacing--xl $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--lg $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small only) {
				padding: $spacing--sm;
			}//end small only breakpoint
			&:before{
				content: '';
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background-color: rgba(get-color(accent3),.75);
				position: absolute;
				display: block;
			}//end before

			.card{
				background: none;
				border: none;
				position: relative;
				z-index: 1;
				max-width: 900px;
				margin: 0 auto;

				.carf-logo{
					width: 100px;
					margin: 0 auto $spacing--xs
				}

				h3{
					font-family: $body-font-family;
					font-size: $fontsize--sm;
					text-transform: uppercase;
					letter-spacing: 1px;
					color: get-color(accent1);
					font-weight: $font-weight-extrabold;
					text-align: center;

					@include breakpoint (small only) {
						font-size: $fontsize--xs;
						text-align: left;
					}//end small only breakpoint
				}//end h3

				h1{
					text-align: center;
					color: get-color(inverse);
					line-height: 2.75rem;
					margin-bottom: $spacing--xs;

					@include breakpoint (small only) {
						text-align: left;
						font-size: 1.75rem;
						line-height: 2.25rem;
					}//end small only breakpoint
				}//end h1

				h2 {
					text-align: center;
					color: get-color(inverse);
					font-size: 1.75rem;

					@include breakpoint (small only) {
						text-align: left;
						font-size: 1.5rem;
					}//end small only breakpoint
				}//end h2

				.divider{
					height: 2px;
					width: 64px;
					background-color: get-color(inverse);
					margin: 0 auto $spacing--xs;

					@include breakpoint (small only) {
						margin: 0 auto $spacing--xs 0;
					}//end small only breakpoint
				}//end divider

				p{
					text-align: center;
					font-size: $fontsize--md;
					line-height:$line-height-md;
					color: get-color(inverse);
					margin: 0 auto $spacing--sm;
					max-width: 750px;

					@include breakpoint (medium down){
						font-size: $fontsize--sm;
						line-height: $line-height-sm
					}//end medium only breakpoint

					@include breakpoint (small only) {
						text-align: left;
					}//end small only breakpoint

					&.secondary-text{
						margin-top: $spacing--xs;
						max-width: none;
					}//end .secondary-text
				}//end p
			}//end .card
		}//end .inner

		&.with-bottom{
			padding-bottom: $spacing--xl;
		}//end with-bottom
	}//end .full
}//end billboard module

.billboard-mobile-container{
	padding: $spacing--sm;
	padding-bottom: 0;
	display: none;

	@include breakpoint (small only){
		display: block;
	}//end small only breakpoint

	.billboard-mobile{
		box-shadow: $box-shadow-2;
		border-radius: $border-radius;
	}//end billboard-mobile
}//end billboard-mobile-container