.module.contact{
	padding-top: $spacing--xxl;

	@include breakpoint (xlarge only){
		padding-top: $spacing--xl;
		padding-bottom: $spacing--xl;
	}//end xlarge only breakpoint

	@include breakpoint (large only){
		padding-top: $spacing--lg;
		padding-bottom: $spacing--lg;
	}//end large only breakpoint

	@include breakpoint (medium down){
		padding-top: $spacing--md;
		padding-bottom: $spacing--lg;
	}//end medium only breakpoint

	.inner{
		@include inner;

		.billboard-container{
			background-image: url("../img/palmsprings-desert-2.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: 640px;
			position: relative;
			display: flex;
			justify-content: start;
			align-items: center;
			border-radius: $border-radius;
			overflow: hidden;
			box-shadow: $box-shadow-2;

			@include breakpoint (medium only){
				height: 525px;
			}//end medium only breakpoint
			
			@include breakpoint (small only){
				height: auto;
			}//end small only breakpoint

			.card-section{
				z-index: 1;
				height: 100%;
				max-width: 450px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: $spacing--md;
				position: relative;
				background-color: rgba(get-color(accent3),.75);

				@include breakpoint (medium only){
					max-width: 375px;
				}//end medium only breakpoint

				@include breakpoint (small only){
					width: 100%;
					max-width: none;
				}//end small only breakpoint

				h2{
					font-family: $body-font-family;
					font-size: $fontsize--sm;
					text-transform: uppercase;
					letter-spacing: 1px;
					color: get-color(accent1);
					font-weight: $font-weight-extrabold;

					@include breakpoint (small only){
						font-size: $fontsize--xs;
					}//end small only breakpoint
				}
				h1{
					text-align: left;
					color: get-color(inverse);
					line-height: 2.75rem;
					margin-bottom: $spacing--md;

					@include breakpoint (medium only){
						font-size: 2rem;
					}//end medium only breakpoint

					@include breakpoint (small only){
						margin-bottom: $spacing--xs;
					}//end small only breakpoint
				}//end h1

				.divider{
					height: 2px;
					width: 64px;
					background-color: get-color(inverse);
					margin-bottom: $spacing--md;

					@include breakpoint (small only){
						margin-bottom: $spacing--xs;
					}//end small only breakpoint
				}//end divider

				p{
					text-align: left;
					font-size: $fontsize--md;
					line-height:$line-height-md;
					color: get-color(inverse);
					margin-bottom: $spacing--sm;

					@include breakpoint (medium down){
						font-size: $fontsize--sm;
						line-height: $line-height-sm;
					}//end medium only breakpoint
				}//end p

				@include breakpoint (small only){
					.button-group{
						flex-direction: column;
						max-width: none;
						margin: 0;

						.button{
							width: 100%;

							&.primary:first-of-type{
								margin-bottom: $spacing--xs;
							}//end .primary
						}//end .button
					}//end .button group
				}//end small only brekapoint
			}//end .card-section
		}//end billboard-container
	}//end inner
}//end billboard module