#insurance{
	&.module.duo--insurance{
		background: get-color(inverse);
		padding-top: $spacing--xxxl + $spacing--xl;
		margin-top: -$spacing--xxxl;

		@include breakpoint (large only){
			padding-top: $spacing--xxxl + $spacing--lg;
		}//end large only breakpoint

		@include breakpoint (medium down){
			padding-top: $spacing--xxxl + $spacing--md;
		}//end medium only breakpoint

		&.no-top {
			padding-top: $spacing--xl;
			margin-top: 0;

			@include breakpoint (large only){
				padding-top: $spacing--lg;
			}//end large only breakpoint

			@include breakpoint (medium down){
				padding-top: $spacing--md;
			}//end medium only breakpoint
		}//end &.no-top

		.inner.expanded{
			@include inner;

			.insurance-spotlight {
				.insurance-logos {
					margin-bottom: $spacing--sm;
				}//end .insurance-logos
			}//.insurance-spotlight
			
			.grid-x{
				.duo-content{
					.card--duo{
						h2{
							margin-bottom: $spacing--md;

							@include breakpoint (medium only){
								margin-bottom: $spacing--sm;
							}//end medium only breakpoint

							@include breakpoint (small only){
								margin-bottom: $spacing--xs;
							}//end small only breakpoint
						}//end h2
						.divider{
							background-color: get-color(default);
							display: block;
							margin-bottom: $spacing--md;
							width: 4rem;
							height: 2px;

							@include breakpoint (medium only){
								margin-bottom: $spacing--sm;
							}//end medium only breakpoint

							@include breakpoint (small only){
								margin-bottom: $spacing--xs;
							}//end small only breakpoint
						}//end divider
						p:first-of-type{
							margin-bottom: $spacing--md;
						}//end p
					}//end .card--duo
				}//end.duo-content

				.duo-media{
					position: relative;
					display: flex;
					align-items: center;
					min-height: 500px;

					.grid-x {
						position: absolute;
						top: 0;
						bottom: 0;
						right: 0;
						left: 0;

						.cell{
							display: flex;
							justify-content: center;
							margin-bottom: $spacing--md;
							padding: 1rem;

							@include breakpoint (medium only){
								margin-bottom: $spacing--xs;
								padding: $spacing--xs;
							}//end medium only breakpoint

							@include breakpoint (small only){
								padding: $spacing--xs;
							}//end small only breakpoint
							.insurance-logos{
								align-self: center;
								flex: 0 1 auto;
								flex-shrink: 0;
							}//end insurance logos
						}//end cell
					}//end .grid-x
				}//end .duo-media
			}//end .grid-x
		}//end .inner.expanded
	}//end .module.duo
}//end #insurance