#locations{
	.module.duo--gallery{
		background-image: linear-gradient(180deg, get-color(default) 80%, #FFFFFF 80%, #FFFFFF 100%);
		padding: $spacing--xxl 0;

		@include breakpoint (xlarge only) {
			padding: $spacing--xl 0;
		}//end xlarge only breakpoint

		@include breakpoint (large only) {
			padding: $spacing--lg 0;
		}//end large only breakpoint

		@include breakpoint (medium down) {
			padding: $spacing--md 0;
		}//end medium only breakpoint

		.inner{
			@include inner;
			.grid-x{
				.duo--media{
					padding-left: $spacing--lg;

					&.full{
						max-height: 500px;
						padding: 0;
						max-width: 1024px;
						margin: 0 auto;
					}//end full

					@include breakpoint (large only) {
						padding-left: $spacing--md;
					}//end large only breakpoint

					@include breakpoint (medium down) {
						padding-left: 0;
						margin-bottom: $spacing--sm;
						max-height: 500px;
					}//end medium only breakpoint

					@include breakpoint (small only) {
						max-height: 250px;
						min-height: 250px;
					}//end small only breakpoint
					.locations__slider{ 
						box-shadow: $box-shadow-2;
						border-radius: $border-radius;
						position: relative;
						display: flex;
						height: 100%;

						.slick-list{
							border-radius: $border-radius;
							overflow: hidden;
							width: 100%;
								.slick-track, .slick-track  div {
									height: 100%; 
									max-height: 575px;
									width: 100%;

									@include breakpoint (xlarge only) {
										max-height: 563px;
									}//end xlarge only breakpoint

									@include breakpoint (large only) {
										max-height: 519px;
									}//end large only breakpoint

									@include breakpoint (medium only) {
										max-height: 500px;
									}//end medium only breakpoint
								}//end .slick-track, .slick-track  div
								.slick-slide img {
									object-fit: cover;
									object-position: center bottom;
									vertical-align: middle;
									max-width: 100%;
									-ms-interpolation-mode: bicubic;
									height: 100%;
								}////end img
						}//end slick-list

						.slick-arrow{
							position: absolute;
							height: 60px;
							width: 60px;
							background: get-color(inverse);
							z-index: 1;
							align-self: center;
							justify-content: center;
							border-radius: $border-radius;
							box-shadow: $box-shadow-2;
							top: calc(50% - 30px);
							@include transition;

							@include breakpoint (small only) {
								height: 40px;
								width: 40px;
								top: calc(50% - 20px);
							}//end small only breakpoint

							&:after{
								content:'';
								background-repeat: no-repeat;
								display: block;
								position: absolute;
								height: 18px;
								width: 10px;
								top: calc(50% - 9px);
								left: calc(50% - 5px);

								@include breakpoint (small only) {
									font-size: 1.7rem;
								}//end small only breakpoint
							}//end after

							&.slick-prev{
								left: -1rem;
								&:after{
									background-image: url("../img/icon/angle-left.svg");
								}//end after
							}//end slick-prev

							&.slick-next{
								right: -1rem;

								&:after{
									background-image: url("../img/icon/angle-right.svg");
								}//end after
							}//end slick-next

							&:hover{
								box-shadow: $box-shadow-1;
								background: darken(get-color(inverse),5%);
								@include transition;
							}
						}//end slick-arrow
					}//end locations__slider
				}//.duo--media

				.duo--card{
					&.full{
						max-width: 1024px;
						margin: 0 auto $spacing--md;
					}//end full

					.locations__content{
						background-color: get-color(inverse);
						border-radius: $border-radius;
						padding: $spacing--xl $spacing--lg;
						box-shadow: $box-shadow-2;

						@include breakpoint (xlarge only) {
							padding: $spacing--lg $spacing--md;
						}//end xlarge only breakpoint

						@include breakpoint (large only) {
							padding: $spacing--md;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							padding: $spacing--lg $spacing--md;
						}//end medium only breakpoint

						@include breakpoint (small only) {
							padding: $spacing--md $spacing--sm;
						}//end small only breakpoint
						h2{
							margin-bottom: $spacing--sm;

							@include breakpoint (small only) {
								margin-bottom: $spacing--xs;
							}//end small only breakpoint
						}//ned h2
						p{
							margin-bottom: $spacing--md;

							@include breakpoint (small only) {
								margin-bottom: $spacing--xs;
							}//end small only breakpoint
						}//end p
					}//end duo--card
				}//end locations__content
			}//end grid-x
		}//end inner
	}//end module duo--gallery

	.module.deck{
		.inner{
			@include inner;
			@include innerpadding ($p-small: 1rem, $p-medium: 1.5rem, $p-large: 2.75rem, $p-xlarge: 3.5rem, $p-xxlarge: 5.5rem);

			.cell{
				padding: 0 $spacing--xs/2;

				@include breakpoint (large only) {
					padding: 0 $spacing--xs/4;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					margin-bottom: $spacing--sm;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					margin-bottom: $spacing--sm;
				}//end small only breakpoint

				a.deck--card{
					display: block;
					border-radius: $border-radius $border-radius 0 0;
					height: 100%;
					@include transition;

					img{
						border-radius: $border-radius;
						@include transition;

						@include breakpoint (small only) {
							width: 100%;
						}//end small only breakpoint
					}//end img

					.deck--content{
						padding: $spacing--sm 1.25rem $spacing--lg 1.25rem;

						@include breakpoint (xlarge down) {
							padding: $spacing--xs;
							padding-bottom: $spacing--md;
						}//end xlarge only breakpoint

						h3{
							font-family: $body-font-family;
							font-size: $fontsize--xl;

							@include breakpoint (large only) {
								font-size: $fontsize--lg;
							}//end large only breakpoint
						}
						.divider{
							height: 2px;
							width: 48px;
							background-color: get-color(primary);
							margin: $spacing--sm 0 $spacing--sm 0;

							@include breakpoint (small only) {
								margin: $spacing--xs 0 $spacing--xs 0;
							}//end small only breakpoint
						}//end divider

						p{
							font-size: $fontsize--sm;
							line-height: $line-height-sm;
							@include transition;
						}//end p

						span{
							font-size: 12px;
							text-transform: uppercase;
							font-weight: $font-weight-extrabold;
							color: get-color(accent2);
							position: relative;
							@include transition;

							&:after{
								content: "+";
								font-size: 1rem;
								top: 0;
								bottom: 0;
								width: 16px;
								display: inline-block;
								margin-left: $spacing--xs/2;
								color: get-color(secondary);
								@include transition;
							}//end after
						}//end span
					}//end deck--content

					&:hover{
						box-shadow: $box-shadow-2;
						@include transition;
						 img{
						 	border-radius: $border-radius $border-radius 0 0;
						 	@include transition;
						 }//end im

						 .deck--content{
							 p{
							 	//text-decoration: underline;
							 	@include transition;
							 }//end p

							 span{
							 	color: get-color(secondary);
							 	@include transition;

							 	&:after{
							 		transform: rotate(360deg);
									transform-origin: 50% 50%;
									@include transition;
							 	}
							 }//end span
						}//end .deck--content
					}//end a.deck--card hover
				}//end a.deck--card
			}//end cell
		}//end inner
	}//end module.deck
}//end locations