#programs{
	.module.spotlight{
		background-color: get-color(default);
		padding-top: $spacing--xxl;

		@include breakpoint (xlarge only){
			padding-top: $spacing--xl;
		}//end xlarge only breakpoint

		@include breakpoint (large down){
			padding-top: $spacing--lg;
		}//end large only breakpoint
		.inner{
			@include inner;
			h3{
				font-size: $fontsize--xl;
				font-family: $body-font-family;
				font-weight: $font-weight-extrabold;
				color: get-color(accent1);
				text-transform: uppercase;
				letter-spacing: 2px;
				margin-bottom: $spacing--sm;

				@include breakpoint (large down){
					font-size: $fontsize--lg;
				}//end large only breakpoint

				@include breakpoint (small only){
					font-size: $fontsize--md;
				}//end small only breakpoint
			}//end h3

			.spotlight--card{
				border-radius: $border-radius;
				background-color: get-color(inverse);
				padding: $spacing--lg $spacing--xl;
				box-shadow: $box-shadow-2;

				@include breakpoint (xlarge down){
					padding: $spacing--lg;
				}//end xlarge only breakpoint

				@include breakpoint (large only){
					padding: $spacing--lg $spacing--md;
				}//end large only breakpoint

				@include breakpoint (small only){
					padding: $spacing--md $spacing--sm;
				}//end small only breakpoint
				h2{
					margin-bottom: $spacing--sm;

					@include breakpoint (small only){
						margin-bottom: $spacing--xs;
					}//end small only breakpoint
				}//end h2
				p{
					margin-bottom: 0;
				}//end p
			}//end spotlight--card
		}//end inner
	}//end module spotlight

	.module.duo--video{
		margin-top: -$spacing--xxxl;
		background-image: $gradient-1;

		&.no-overlap{
			margin-top: 0;
			.inner.expanded .cell.right .duo--card{
				padding-top: $spacing--xl*2;
				padding-bottom: $spacing--xl*2;

				@include breakpoint (medium only) {
					padding-top: $spacing--md;
					padding-bottom: $spacing--md;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					padding: $spacing--md $spacing--sm;
				}//end small only breakpoint
			}//end .inner.expanded .cell.right .duo--card
		}//end .no-overlap

		@include breakpoint (medium down) {
			margin-top: -$spacing--lg;
		}//end medium only breakpoint

		.inner.expanded{
			max-width: none;
			.cell{
				&.left{
					display: flex;
					align-items: center;
					justify-content: center;
					background-image: url("../img/palmsprings-desert.jpg");
					background-size: cover;
					background-repeat: no-repeat;
					padding-top: $spacing--xxxl;

					@include breakpoint (medium only){
						padding-top: $spacing--lg;
					}//end medium only breakpoint

					@include breakpoint (small only){
						min-height: 300px;
						padding-top: $spacing--lg;
					}//end small only breakpoint

					.button{
						background-color: get-color(inverse);
						color: get-color(primary);
						padding: $spacing--xs $spacing--xl;
						box-shadow: $box-shadow-1;
						display: flex;
						align-items: center;
						justify-content: center;
						@include transition;

						&:before{
							content:'';
							background-image: url("../img/icon/play-video.svg");
							background-repeat: no-repeat;
							height:24px;
							width: 24px;
							display: inline-block;
							font-size: $fontsize--md;
							margin-right: $spacing--xs;
						}//end before

						&:hover{
							@include transition;
							transform: scale(1.05);
							box-shadow: $box-shadow-2;
						}//end hover
					}//end button
				}//end left
				&.right{
					.duo--card{
						max-width: 616px;
						margin-right: auto;
						padding: $spacing--xxxl+$spacing--xxl $spacing--xxxl $spacing--xxl $spacing--lg;

						@include breakpoint (xlarge only){
							padding: $spacing--xxxl+$spacing--xl $spacing--xl $spacing--xl $spacing--lg;
						}//end xlarge only breakpoint

						@include breakpoint (large only){
							padding: $spacing--xxxl+$spacing--lg $spacing--lg $spacing--lg $spacing--md;
						}//end large only breakpoint

						@include breakpoint (medium only){
							padding: $spacing--lg+$spacing--md $spacing--md $spacing--md $spacing--md;
						}//end medium only breakpoint

						@include breakpoint (small only){
							padding: $spacing--md $spacing--sm;
						}//end small only breakpoint

						h2{
							color: get-color(inverse);
							margin-bottom: $spacing--sm;

							@include breakpoint (small only){
								margin-bottom: $spacing--xs;
							}//end small only breakpoint
						}//end h2

						p{
							color: get-color(inverse);
							margin-bottom: 0;
						}//end p
					}//end duo--card
				}//end .right
			}//end cell
		}//end inner
	}//end module.duo

	.module.duo{
		background-color: get-color(default);
		padding-top: $spacing--xl;

		@include breakpoint (large down){
			padding-top: $spacing--lg;
		}//end large only breakpoint

		@include breakpoint (small only){
			padding-top: $spacing--md;
		}//end small only breakpoint

		.inner{
			@include inner
			.cell{
				&.left{
					@include breakpoint (medium only){
						padding-right: $spacing--xs/2;
					}//end medium only breakpoint
					.duo--card{
						background-color: get-color(inverse);
						border-radius: $border-radius;
						padding: $spacing--xl $spacing--lg;
						box-shadow: $box-shadow-2;

						@include breakpoint (xlarge only){
							padding: $spacing--lg $spacing--md;
						}//end xlarge only breakpoint

						@include breakpoint (large only){
							padding: $spacing--md;
						}//end large only breakpoint

						@include breakpoint (medium only){
							padding: $spacing--lg $spacing--md;
						}//end medium only breakpoint

						@include breakpoint (small only){
							padding: $spacing--md $spacing--sm;
						}//end small only breakpoint
						h2{
							margin-bottom: $spacing--sm;
							@include breakpoint (small only){
								margin-bottom: $spacing--xs;
							}//end small only breakpoint
						}//ned h2
						p{
							margin-bottom: 0;
						}//end p
					}//end duo--card
				}//end left
				&.right{
					padding-left: $spacing--lg;

					@include breakpoint (medium only){
						padding-left: $spacing--xs/2;
					}//end medium only breakpoint

					@include breakpoint (small only){
						padding: 0;
						margin-bottom: $spacing--sm;
					}//end small only breakpoint
					.duo--media{
						height: 100%;
						background-image: url("../img/people-smiling-life-challenge.jpg");
						background-size: cover;
						background-repeat: no-repeat;
						border-radius: $border-radius;
						box-shadow: $box-shadow-2;

						@include breakpoint (medium only){
							background-position: 20% center;
						}//end medium only breakpoint

						@include breakpoint (small only){
							min-height: 250px;
						}//end small only breakpoint
					}//end duo-media
				}//end .right
			}//end cell
		}//end inner
	}//end module.duo
}//end programs