//TREATMENT

#treatment{

	&.module.deck.highlight--deck{
		background: get-color(accent4);
		margin-top: -$spacing--xxxl*2;
		padding-top: $spacing--xxxl*2 + $spacing--md;

		&.no-overlap{
			margin-top: 0;
			padding-top: $spacing--md;
		}//end .no-overlap

		@include breakpoint (small only) {
			padding-top: $spacing--xxxl*2 + $spacing--sm;
			padding-bottom: $spacing--sm;
		}//end small only breakpoint

		.inner.expanded{
			@include inner;
			@include innerpadding ($p-small: $spacing--xs, $p-medium: $spacing--sm, $p-large: 2.5rem, $p-xlarge: 3.5rem, $p-xxlarge: 5.5rem);

			.grid-x{
				.cell{
					padding: 0 $spacing--xs/2;

					@include breakpoint (medium down) {
						padding: $spacing--xs/2;
					}//end medium down breakpoint
					.treatment-box{
						display: flex;
						border-radius: $border-radius;
						box-shadow: $box-shadow-2;
						overflow: hidden;
						text-align: center;
						height: 200px;
						background-size: cover;
						background-repeat: no-repeat;
						align-items: center;
						justify-content: center;
						flex-direction: column;
						position: relative;
						@include transition;

						@include breakpoint (large down) {
							height: 150px;
							background-position: center center;
						}//end large down breakpoint

						&:before{
							content: '';
							position: absolute;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							display: block;
							background-color: rgba(get-color(default),.45);
							@include transition;

						}//end before

						p{
							font-weight: $font-weight-bold;
							font-size: $fontsize--lg;
							color: get-color(inverse);
							margin-bottom: 0;
							position: relative;

							@include breakpoint (large only) {
								font-size: $fontsize--md;
							}//end large only breakpoint

							@include breakpoint (small only) {
								font-size: $fontsize--md;
							}//end small only breakpoint
						}//end p

						span{
							font-size: 12px;
							line-height: 1;
							text-transform: uppercase;
							font-weight: $font-weight-extrabold;
							color: get-color(inverse);
							position: relative;
							@include transition;

							&:after{
								content: "+";
								font-size: 1rem;
								top: 0;
								bottom: 0;
								width: 16px;
								display: inline-block;
								margin-left: $spacing--xs/2;
								color: get-color(inverse);
								@include transition;
							}//end after
						}//end span

						&:hover{
							box-shadow: $box-shadow-1;
							transform: translateY(2px);
							@include transition;

							&:before{
								background-color: rgba(get-color(default),.60);
								@include transition;
							}//end before

							span{

							 	&:after{
							 		color: get-color(secondary);
							 		transform: rotate(360deg);
									transform-origin: 50% 50%;
									@include transition;
							 	}//end after
							 }//end span
						}//end hover
					}//end .treatment-box
				}//end .cell
			}//end .grid-x
		}//end .inner.expanded
	}//end .module.deck.highlight--deck
	&.module.deck.wildcard--deck{
		background: get-color(accent4);
		margin-top: -$spacing--xxxl*2;
		padding-top: 12rem + $spacing--xl;
		padding-bottom: $spacing--xl;

		@include breakpoint (xlarge only){
			padding-top: 12rem + $spacing--lg;
			padding-bottom: $spacing--lg;
		}//end xlarge only breakpoint

		@include breakpoint (large only){
			padding-top: 12rem + $spacing--md;
			padding-bottom: $spacing--md;
		}//end large only breakpoint

		@include breakpoint (medium only){
			padding-top: 12rem + $spacing--sm;
			padding-bottom: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small only){
			padding-top: 12rem + $spacing--md;
			padding-bottom: $spacing--md;
		}//end small only breakpoint
		.inner.expanded{
			max-width: $container;
			padding: 0 $spacing--xxxl 0 $spacing--xxl;

			@include breakpoint (xlarge only){
				padding: 0 $spacing--xl 0 $spacing--lg;
			}//end xlarge only breakpoint

			@include breakpoint (large only){
				padding: 0 $spacing--lg 0 $spacing--md;
			}//end large only breakpoint

			@include breakpoint (medium only){
				padding: 0 $spacing--md 0 $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small only){
				padding: 0 $spacing--xs;
			}//end small only breakpoint
			.grid-x{
				
				.card--wildcard{
					&.left{
						display: flex;
						align-items: center;
						.wildcard--holder{
							width: 100%;
								.cell{
									padding: $spacing--xs;

									@include breakpoint (xlarge down){
										padding: $spacing--xs/2;
									}//end xlarge only breakpoint
									a{
										background-color: get-color(inverse);
										border-radius: $border-radius;
										display: block;
										padding: 2.5rem $spacing--sm;
										box-shadow: $box-shadow-1;
										@include transition;

										@include breakpoint (large only){
											padding: $spacing--md $spacing--xs;
										}//end large only breakpoint

										@include breakpoint (medium down){
											padding: $spacing--sm $spacing--xs;
										}//end medium only breakpoint

										@include breakpoint (370px down){
											padding: $spacing--xs $spacing--xs/2;
										}//end 370px down
										p{
											font-size: $fontsize--xl;
											margin-bottom: $spacing--xs/2;

											@include breakpoint (xlarge only){
												font-size: $fontsize--lg;
											}//end xlarge only breakpoint

											@include breakpoint (large only){
												font-size: $fontsize--md;
											}//end large only breakpoint

											@include breakpoint (medium down){
												font-size: 1.15rem;
											}//end medium only breakpoint

											@include breakpoint (small only){
												font-size: $fontsize--md;
											}//end small only breakpoint

											@include breakpoint (370px down){
												font-size: $fontsize--sm;
											}//end 370px down
										}//end p

										span{
											font-size: 12px;
											text-transform: uppercase;
											font-weight: $font-weight-extrabold;
											color: get-color(accent2);
											position: relative;
											@include transition;

											&:after{
												content: "+";
												font-size: 1rem;
												top: 0;
												bottom: 0;
												width: 16px;
												display: inline-block;
												margin-left: $spacing--xs/2;
												color: get-color(secondary);
												@include transition;
											}//end after
										}//end span
										
										&:hover,{
											box-shadow: $box-shadow-2;
											transform: scale(1.05);
											@include transition;

											span{
											 	color: get-color(secondary);
											 	@include transition;

											 	&:after{
											 		transform: rotate(360deg);
													transform-origin: 50% 50%;
													@include transition;
											 	}//end after
											 }//end span
										}//end hover

										&:focus{
											outline: none;
											box-shadow: inset 0 0 8px rgba(0,0,0,.3);
										}
									}//end a
								}// end cell
						}//end .wildcard--holder
					}// end .left

					&.right{
						padding-left: $spacing--xxl;
						display: flex;
						align-items: center;

						@include breakpoint (xlarge only){
							padding-left: $spacing--lg;
						}//end xlarge only breakpoint

						@include breakpoint (large only){
							padding-left: $spacing--md;
						}//end large only breakpoint

						@include breakpoint (medium only){
							padding-left: $spacing--sm;
						}//end medium only breakpoint

						@include breakpoint (small only){
							padding: 0 $spacing--xs;
						}//end small only breakpoint
						.wildcard--holder{
							width: 100%;
							h2{
								color: get-color(inverse);
								margin-bottom: $spacing--sm;
							}
							p{
								color: get-color(inverse);
								line-height: $line-height-md;
								font-size: $fontsize--lg;

								@include breakpoint (small only){
									font-size: $fontsize--md;
								}//end small only breakpoint


							}//end p
						}//end.wildcard--holder
					}//end .right
				}//end.card--wildcard
			}//end .grid-x
		}//end .inner.expanded
	}//end .module.deck.wildcard--deck
}//end treatment