    <div id="nav"> 
    {{> component-notification}}          
        {{!Mobile-Phone}}
        <div id="mobilephone" class="grid-x show-for-small-only">
            <a class="cell small-6 mobilephone__chat" data-chat data-chat-offline-text="Email Us" data-chat-online-text="Live Chat" data-ga-event data-ga-category="Live Chat" data-ga-action="Chat Button" data-ga-label="Live Chat Mobile" onClick = "_ictt.push(['Live Chat']);">Live Chat</a>
            <a href="tel:{{#unlesspage 'v-sms' 'v-ad'}}{{#if phone2}}{{@root.site.phone2}}{{else}}{{@root.site.phone}}{{/if}}{{/unlesspage}}{{#ifpage 'v-sms'}}{{@root.site.phone-sms}}{{/ifpage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}" class="cell small-6 mobilephone__call {{#unlesspage 'v-ad'}} InfinityNumber {{/unlesspage}}" data-ict-discovery-number="615-371-5723" data-ict-silent-replacements="false" data-ga-event data-ga-category="Phone Numbers" data-ga-action="Phone Clicks" data-ga-label="Phone Clicks Mobile">{{#unlesspage 'v-sms' 'v-ad' 'index-copy'}}{{@root.phone}}{{/unlesspage}}{{#ifpage 'v-sms'}}{{@root.phone-sms}}{{/ifpage}}{{#ifpage 'v-ad'}}{{@root.phone-ad}}{{/ifpage}}{{#ifpage 'index-copy'}}{{@root.phone2}}{{/ifpage}}</a>
        </div>{{!--/.mobile-bar--}}

        {{!Title-Bar}}
        <div class="title-bar show-for-small-only" data-responsive-toggle="{{@root.site.content.header.mobile-menu-id}}" data-hide-for="medium">
            <a href="{{#if home-url}}{{home-url}}{{else}}/lp/{{/if}}" class="title-bar-left">
                <img src="{{@root.site.logo.img}}" class="site-logo" alt="{{@root.site.text}}" />
            </a>{{!--/.title-bar-left--}}

            {{#if mobile-menu}}
            <div class="title-bar-right">
                <button type="button" id="hamburger-menu" class="hamburger nav-button hamburger--squeeze" data-toggle="{{@root.site.content.header.mobile-menu-id}}" data-ga-event data-ga-category="Hambuger Menu" data-ga-action="Navigate" data-ga-label="open mobile menu">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                    <span class="hamburger-label">Menu</span>
                </button>
            </div>{{!--/.title-bar-right--}}
            {{/if}}

            {{#if carf-mobile}}
             <div class="title-bar-right">
                <div class="carf-logo">
                    <img src="{{@root.site.accreditation}}" />
                </div>{{!--/.carf-logo--}}
            </div>{{!--/.title-bar-right--}} 
            {{/if}}
        </div>{{!--/.title-bar--}}

        {{!Mobile Menu}}
        <div id="{{@root.site.content.header.mobile-menu-id}}" class="hide-for-medium">
            <ul class="main-menu" data-smooth-scroll data-offset="85">
                {{#each content.header.top-bar.right}}
                <li class="menu-text">
                    {{#if href}}
                        <a href="{{href}}" data-ga-event data-ga-category="Menu Item" data-ga-action="Navigate" data-ga-label="{{text}}">{{text}}</a>
                    {{else}}
                        {{text}}
                    {{/if}}
                </li>
                {{/each}}
            </ul>
        </div>{{!--/#mobile-menu--}}

        {{!Top-Bar}}
        <div class="top-bar show-for-medium" id="{{@root.site.content.header.menu-id}}">
            <div class="inner">
                <div class="top-bar-left">
                    <a id="nav-logo" href="{{#if home-url}}{{home-url}}{{else}}/lp/{{/if}}">
                        <img src="{{@root.site.logo.img}}" class="site-logo" alt="{{@root.site.logo.text}}" />
                    </a>
                </div>{{!--/.top-bar-left--}}
                 <div class="top-bar-right">
                    {{#if navigation}}
                        <ul id="nav-items" class="dropdown menu" data-smooth-scroll data-offset="90">
                            {{#each content.header.top-bar.right}}
                                <li class="menu-text">
                                    {{#if href}}
                                        <a href="{{href}}" data-ga-event data-ga-category="Menu Item" data-ga-action="Navigate" data-ga-label="{{text}}">{{text}}</a>
                                    {{else}}
                                        {{text}}
                                    {{/if}}
                                </li>
                            {{/each}}
                        </ul>
                        {{/if}}
                        <a href="tel:{{#unlesspage 'v-sms' 'v-ad'}}{{#if phone2}}{{@root.site.phone2}}{{else}}{{@root.site.phone}}{{/if}}{{/unlesspage}}{{#ifpage 'v-sms'}}{{@root.site.phone-sms}}{{/ifpage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}"  id="callinfo" class="{{#unlesspage 'v-ad'}} InfinityNumber {{/unlesspage}}" data-ict-discovery-number="615-371-5723" data-ict-silent-replacements="false" data-ga-event data-ga-category="Phone Numbers" data-ga-action="Phone Clicks" data-ga-label="Phone Clicks">{{#unlesspage 'v-sms' 'v-ad' 'index-copy'}}{{@root.phone}}{{/unlesspage}}{{#ifpage 'v-sms'}}{{@root.phone-sms}}{{/ifpage}}{{#ifpage 'v-ad'}}{{@root.phone-ad}}{{/ifpage}}{{#ifpage 'index-copy'}}{{@root.phone2}}{{/ifpage}}</a>
                </div>{{!--/.top-bar-right--}}
            <div class="carf-logo">
                <img src="{{@root.site.accreditation}}" />
            </div>{{!--/.carf-logo--}}
        </div>{{!--/.inner--}}
        </div>{{!--/.top-bar--}}

    </div>{{!--/#nav--}}
