<div id="hero" class="module billboard full {{#if class}}{{class}}{{/if}}">
  <div id="nav-triggerpoint" class="inner">
    <div class="card">
      <div class="carf-logo hide-for-medium">
          <img src="{{@root.site.accreditation}}" />
      </div>{{!--/.carf-logo--}}
      <h3>Palm Springs, CA</h3>

        {{#if keyword}}
        <h1>Accredited {{> keyword }} personalized to meet your needs</h1>
        <div class="divider"></div>
        <p>Our nationally recognized {{> keyword }} uses evidence-based methods that produce life-changing results for individuals with addiction and mental health disorders</p>
        {{else}}

        {{#if insurance}}
        <h1>Accredited treatment programs covered by {{> keyword }} to meet your needs</h1>
        <div class="divider"></div>
        <p>Our nationally recognized treatment programs use evidence-based methods that produce life-changing results for individuals with addiction and mental health disorders</p>
        {{else}}

        {{#if branding}}
        <h1>Michael's House</h1>
        <div class="divider"></div>
        <h2>Accredited treatment program personalized to meet your needs</h2>
        <p>Our nationally recognized treatment programs use evidence-based methods that produce life-changing results for individuals with addiction and mental health disorders</p>
        {{else}}

        <h1>{{heading}}</h1>
        <div class="divider"></div>
        <p>{{text}}</p>
        {{/if}}
        {{/if}}
        {{/if}}

      <div class="expanded button-group">
        {{> component-button phone=true ga-label="Phone Clicks Billboard"}}
        {{> component-button chat=true ga-label="Live Chat Billboard"}}
    </div>{{!--/.expanded.butotn-group--}}

        {{#if text2}}<p class="secondary-text">{{text2}}</p>{{/if}}
    </div>{{!--/.card-section--}}
  </div>{{!--/.inner--}}
</div>{{!--/.module.billboard.full--}}