<div id="{{id}}">
  <div class="module duo duo--gallery">
    <div class="inner">
      <div class="grid-x">
        {{!--CONTENT--}}
          <div class="duo--card cell left {{#if full}}full large-12{{else}}xlarge-5 large-6 medium-order-2 small-order-2{{/if}} large-order-1">
          <div class="{{id}}__content">
            <h2>{{heading}}</h2>
              <p>{{text}}</p>
              <div class="expanded button-group">
                {{> component-button phone=true ga-label="Phone Clicks Billboard"}}
                {{> component-button chat=true red=true ga-label="Live Chat Billboard"}}
              </div>{{!--/.expanded.butotn-group--}}
          </div>{{!--/.duo--card--}}
        </div>{{!--/.locations__content.cell.left--}}

        {{!--CAROUSEL GALLERY--}}
        <div class="duo--media cell right {{#if full}}full large-12{{else}}xlarge-7 large-6 medium-order-1 small-order-1{{/if}} large-order-1">
          <div id="{{id}}-slider" class="{{id}}__slider">
              {{#each gallery-images}}
                <img alt="{{alt}}" src="{{img}}"/>
              {{/each}}          
          </div>{{!--/.locations__slider--}}
        </div>{{!--/.duo--media--}}
        </div>{{!--/.grid-x--}}
    </div>{{!--/.inner--}}
  </div>{{!--/.module.duo.duo--galery--}}

  <div class="module deck">
    <div class="inner">
      <div class="grid-x">
        {{#each @root.locations.campuses}}
        {{!CARD}}
        <div class="cell large-4 medium-4"> 
          <a class="deck--card" data-ga-event data-ga-category="location-campuses" data-ga-action="open modal" data-ga-label="{{title}}" data-open="campus-{{@index}}">
            <img alt="{{title}}" src="{{img}}" />
            <div class="deck--content">
            <h3>{{title}}</h3>
            <div class="divider"></div>
            <p>{{text}}</p>
            <span>Learn More</span>
          </div>{{!--/.deck--content--}}
          </a>
        </div>{{!--/.cell--}}

          {{!REVEAL}}
            <div class="reveal location-modals" id="campus-{{@index}}" data-reveal>
              <div class="reveal-card">
                  <h2>{{title}}</h2>
                  <p>{{#markdown}}{{content}}{{/markdown}}</p>
                </div>{{!--/.reveal-card--}}
                <button class="close-button" data-close aria-label="Close modal" type="button">
                  <span aria-hidden>&times;</span>
                </button>{{!--/button--}}
            </div>{{!--/.reveal--}}
        {{/each}}
      </div>{{!--/.grid-x--}}
  </div>{{!--/.inner--}}
  </div>{{!--/.module deck--}}
</div>{{!--/#locations--}}