<div id="programs">

	{{!LGBTQ PROGRAM}}
	{{#unlesspage 'lgbt'}}
	<div class="module spotlight">
		<div class="inner">
			<h3>Programs</h3>
			<div class="spotlight--card">
				<h2>LGBTQ+ Track</h2>
				<p>At Michael’s House, we offer support and understanding for LGBTQ+ individuals seeking recovery. We understand that different populations have different needs, and to meet those unique needs we offer integrated treatment with gender-specific programs for both men and women. Within those programs, there is also a specific track for lesbian, gay, bisexual and transgender individuals. The goal isn’t to separate – participants are still part of the larger population – but to provide a safe place to address both the external and internalized oppression that can often present barriers to an LGBTQ+ individual’s recovery from addiction and mental health issues. Our philosophy is to approach each patient with acceptance and nonjudgment, and our integrative model is highly supportive of the LGBTQ+ community.</p>
			</div>{{!--/.spotlight--card--}}
		</div>{{!--/.inner--}}
	</div>{{!--/.module.spotlight--}}
	{{/unlesspage}}

	{{!ADVENTURE PROGRAM}}
	<div class="module duo--video {{#ifpage 'lgbt'}}no-overlap{{/ifpage}}">
		<div class="inner expanded">
			<div class="grid-x">
				<div class="cell xlarge-7 medium-6 left">
					{{!BUTTON}}
					<a class="button" data-reset-on-close="true" data-ga-event data-ga-category="Video" data-ga-action="open modal" data-ga-label="Adventure Program Video" data-open="adventure-program-video">Play Video</a>
				</div>{{!--/.cell--}}

				{{!REVEAL}}
					<div class="reveal video" id="adventure-program-video" data-reveal>
						<div class="widescreen flex-video">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/1KWTCJ3a1Ng" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>{{!--/widescreen.flex.video--}}
                  		<button class="close-button" data-close aria-label="Close modal" type="button">
                    		<span aria-hidden>&times;</span>
                  		</button>{{!--/button--}}
					</div>{{!--/.reveal--}}

				<div class="cell xlarge-5 medium-6 right">
					<div class="duo--card">
						<h2>Adventure Program</h2>
						<p>Adventure therapy offers patients the opportunity to develop important life skills by exploring personal issues beyond the walls of the treatment center in a safe, supportive environment under the guidance and support of trained mental health professionals and certified Wilderness First Responders. Activities may include hiking, rock climbing, zip lining and cooperative team-building games. At Michael’s House, adventure therapy is an integrated piece of each patient’s daily routine.</p>
					</div>{{!--/.card--}}
				</div>{{!--/.cell--}}
			</div>{{!--/.grid-x--}}
		</div>{{!--/.inner--}}
	</div>{{!--/.module.duo--}}
</div>{{!--/#programs--}}