<div id="admissions">
	<div class="module spotlight {{#if class}}{{class}}{{/if}}">
		<div class="inner">
			<div class="spotlight--card">
				<h2>Our Admissions Process</h2>
				<div class="divider"></div>
				<p>At Michael’s House, we understand that the admissions process can feel intimidating. We strive to make the process as quick and friendly as possible for you. When you reach out, one of our coordinators will guide you through a free, confidential assessment. After reviewing your assessment and insurance information, our experienced staff will determine the most appropriate level of care for you or your loved one.</p>
				<div class="expanded button-group">
	                {{> component-button phone=true ga-label="Phone Clicks Billboard"}}
        			{{> component-button chat=true red=true ga-label="Live Chat Billboard"}}
              </div>{{!--/.expanded.button-group--}}
			</div>{{!--/.spotlight--card--}}
		</div>{{!--/.inner--}}
	</div>{{!--/.module.spotlight--}}
</admissions>