<div id="contact" class="module contact">
  <div class="inner">
    <div class="billboard-container">
      <div class="cell card-section">
        <h2>Give us a call</h2>
        <h1 class="billboard__header">We are here to help.</h1>
        <div class="divider"></div>
        {{#if text}}
        {{#markdown}}{{text}}{{/markdown}}
        {{else}}
        <p>
          If you have questions about whether you or a loved one may need help, please contact us today. Our admissions coordinators are available to provide a confidential assessment and to review the best treatment options for your situation.
        </p>
        {{/if}}
        {{> component-button phone=true ga-label="Phone Clicks Billboard"}}
        {{> component-button chat=true ga-label="Live Chat Billboard"}}
      </div>{{!--/.cell.card-section--}}
    </div>{{!--/.billboard-container--}}
  </div>{{!--/.inner--}}
</div>{{!--/.module.billboard--}}
{{> component-footer}}