{{#if phone}}
  <a href="tel:{{#if phone2}}{{@root.site.phone2}}{{else}}{{@root.site.phone}}{{/if}}"
     class="button primary phone {{#unlesspage 'v-ad'}} InfinityNumber {{/unlesspage}} {{#if class}}{{class}}{{/if}}"
     onClick="fbq('track', 'Lead', {
                content_name: 'Michaels House PPC', 
                content_category: 'Landing Pages',
                content_type: 'Phone Clicks'
              });"
     data-ict-discovery-number="615-371-5723"
     data-ict-silent-replacements="false"
     data-ga-event
     data-ga-category="Phone Numbers"
     data-ga-action="Phone Clicks"
     data-ga-label="{{#if ga-label}}{{ga-label}}{{else}}{{#if phone2}}{{@root.site.phone2}}{{else}}{{@root.site.phone}}{{/if}}{{/if}}">
    {{#unlesspage 'v-sms' 'v-ad' 'index-copy'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-sms'}}{{@root.site.phone-sms}}{{/ifpage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}{{#ifpage 'index-copy'}}{{@root.site.phone2}}{{/ifpage}}
  </a>
{{/if}}

{{#if chat
      }}
  <a class="button primary chat {{#if class}}{{class}}{{/if}} {{#if red}}red{{/if}}"
          data-chat
          data-chat-online-text="Live Chat"
          data-chat-offline-text="Email Us"
          data-ga-event
          data-ga-category="Live Chat"
          data-ga-action="Chat Button"
          data-ga-label="{{#if ga-label}}{{ga-label}}{{else}}Live Chat{{/if}}"
          onclick="livechatClick(); _ictt.push(['Live Chat']);">
          Live Chat
  </a>
{{/if}}

{{#if register }}
<a href="{{register-url}}" class="button primary {{#if class}}{{class}}{{/if}}"
          data-ga-event
          data-ga-category="Button"
          data-ga-action="Button Click"
          data-ga-label="{{#if ga-label}}{{ga-label}}{{else}}Webinar Register{{/if}}">
          Register Now
  </a>
{{/if}}
