<div id="{{id}}" class="module wysiwyg {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		{{#if title}}
		<h2>{{title}}</h2>
		<div class="divider"></div>
		{{/if}}
		<div class="grid-x medium-up-2">
			{{#each columns}}
			<div class="cell">
				<div class="card-info">
					{{#if heading}}
					<h2>{{heading}}</h2>
					<div class="divider"></div>
					{{/if}}
					{{#markdown}}{{text}}{{/markdown}}
				</div>{{!--/.card info--}}
			</div>{{!--/.cell--}}
			{{/each}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.wysiwyg--}}