<div id="{{id}}" class="module spotlight {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		{{#if img}}<div class="media-container" style="background-image:url({{img}})">{{/if}}
			<div class="card-section">
				<h2>{{heading}}</h2>
				<p>{{text}}</p>
				<div class="expanded button-group">
			        {{> component-button phone=true}}
			        {{> component-button chat=true red=true}}
				</div>{{!--/.button-group--}}
				{{#if content}}
				<div class="secondary-content">
					{{#markdown}}{{content}}{{/markdown}}
				</div>{{!--/.secondary-content--}}
				{{/if}}
			</div> {{!--/.card-section--}}
		{{#if img}}</div>{{/if}}{{!--/.media-container--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.spotlight--}}