<div id="{{id}}" class="module staff">
	<div class="inner">
		<div class="staff-card">
			<h2>{{heading}}</h2>
			<div class="divider"></div>
			<p>{{text}}</p>
		</div>{{!--/.staff-card--}}
		<div class="staff-container">
			<div class="grid-x medium-up-2">
			{{#each members}}
				<div class="cell">
					<div class="staff-photo" style="background-image: url({{img}})"></div>{{!--/.staff-photo--}}
					<div class="staff-info">
						<h3>{{name}}</h3>
						<h4>{{position}}<h4>
					</div>{{!--/.staff-info--}}
				</div>{{!--/.cell--}}
				{{/each}}
			</div>{{!--/.grid-x--}}
		</div>{{!--/.staff-container--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.staff--}}