<div id="{{id}}" class="module wysiwyg {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<h2>{{heading}}</h2>
		<div class="divider"></div>
		<div class="grid-x medium-up-2">
			{{#each columns}}
			<div class="cell">
				<div class="card-info">
					<img src="{{img}}"/>
					<h3>{{title}}</h3>
					<p>{{text}}</p>
				</div>{{!--/.card info--}}
			</div>{{!--/.cell--}}
			{{/each}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.wysiwyg--}}
