<div id="{{id}}" class="module upcoming-webinar">
	<div class="inner">
		<div class="grid-x">
			<div class="cell large-5 medium-12">
				<div class="upcoming-webinar__image" style="background-image: url({{img}})"></div>
			</div>{{!--/.cell--}}
			<div class="cell large-7 medium-12">
				<div class="upcoming-webinar__content">
					{{#if heading}}<h2>{{heading}}</h2>{{/if}}
					<p>(1 Free CE)</p>
					{{#if speaker}}<h3>{{speaker}}</h3>{{/if}}
					{{#if job-title}}<h4>{{job-title}}</h4>{{/if}}
					{{#if synopsis}}{{#markdown}}{{synopsis}}{{/markdown}}{{/if}}
					{{> component-button register="true" }}
				</div>{{!--/.upcoming-webinar__content--}}
			</div>{{!--/.cell--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.duo--content-gate--}}