<div id="vob-callout" class="module vob {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x vob-card">
			<div class="cell xlarge-8 large-7">
				<h2>Have questions? Need some guidance?</h2>
                {{#if insurance}}
                <p>We can help you sort out the details of your {{> keyword}} policy.
                </p>
                {{else}}
				<p>It is our mission to support you whether Michael's House is the right solution for you or not.
                {{/if}}
			</div>{{!--/.cell--}}
			<div class="cell xlarge-4 large-5">
                <p>Give us a call:</p>
				{{> component-button phone=true cta=true}}
            </div> {{!--/.cell--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.spotlight--}}