<div id="footer" class="footer">
	{{> component-accreditations}}
	<div class="inner">
		<div class="privacy-policy">
      		Copyright © 2020 Michael's House Treatment Centers. All Rights Reserved. | Confidential and Private Call: <a href="tel:{{#unlesspage 'v-sms' 'v-ad'}}{{#if phone2}}{{site.phone2}}{{else}}{{site.phone}}{{/if}}{{/unlesspage}}{{#ifpage 'v-sms'}}{{site.phone-sms}}{{/ifpage}}{{#ifpage 'v-ad'}}{{site.phone-ad}}{{/ifpage}}" class="{{#unlesspage 'v-ad'}} InfinityNumber {{/unlesspage}}" data-ict-discovery-number="615-371-5723" data-ict-silent-replacements="false" data-ga-event data-ga-category="Phone Numbers" data-ga-action="Phone Clicks" data-ga-label="Phone Clicks Footer">{{#unlesspage 'v-sms' 'v-ad' 'index-copy'}}{{@root.site.phone}}{{/unlesspage}}{{#ifpage 'v-sms'}}{{@root.site.phone-sms}}{{/ifpage}}{{#ifpage 'v-ad'}}{{@root.site.phone-ad}}{{/ifpage}}{{#ifpage 'index-copy'}}{{@root.site.phone2}}{{/ifpage}}</a>
			  | <a href="https://www.michaelshouse.com/wp-content/plugins/frn_plugins/privacy-policy.pdf">Privacy Policy</a>
    	</div>{{!--/.privacy-policy--}}
	</div>{{!--/.inner--}}
</div>{{!--/.footer--}}