<div id="{{id}}" class="module content-gate">
	<div class="inner">
		<div class="grid-x">
			<div class="cell large-6">
				<div class="sl_content-locker">
					<div class="sl_content-locker__form">
						<div class="sl_card sl_card--content-locker">
							<img src="assets/img/icon/lock-icon.svg">
							<p class="sl_content-locker__heading">Subscribe to unlock content</p>
							{{> content-locker-form}}
						</div>
					</div>
					<div class="sl_content-locker__content">
						<div class="responsive-embed">
							<iframe width="560" height="315" src="{{video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>{{!--/.cell--}}
			<div class="cell large-6">
				{{#if heading}}<h2>{{heading}}</h2>{{/if}}
				{{#if speaker}}<h3>{{speaker}}</h3>{{/if}}
				{{#if job-title}}<h4>{{job-title}}</h4>{{/if}}
				{{#if synopsis}}{{#markdown}}{{synopsis}}{{/markdown}}{{/if}}
			</div>{{!--/.cell--}}
		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.duo--content-gate--}}