<div id="{{id}}" class="module duo--basic {{#if class}}{{class}}{{/if}}">
	<div class="inner">
		<div class="grid-x">
			<div class="cell content-cell{{#if xlarge-content}}xlarge-{{xlarge-content}}{{/if}} {{#if large-content}}large-{{large-content}}{{else}}large-6{{/if}} {{#if medium-content}}medium-{{medium-content}}{{else}}medium-6{{/if}} {{#if small-content}}small-{{small-content}}{{/if}} medium-order-{{#if media-left}}2{{else}}1{{/if}} small-order-{{#if media-bottom}}1{{else}}2{{/if}}">
				<div class="duo--card">
					{{#if heading}}
					<h2>{{heading}}</h2>
					<div class="divider"></div>
					{{/if}}
					{{#markdown}}{{text}}{{/markdown}}
					{{#if accreditations}}
					<div class="accreditations">
						{{#each accreditations}}
						<img alt="{{alt}}" src="{{logo}}" />
						{{/each}}
					</div> {{!--/.accreditations--}}
					{{/if}}
					{{#if buttons}}
					<div class="expanded button-group">
				        {{> component-button phone=true}}
				        {{> component-button chat=true red=true}}
				    </div>{{!--/.expanded.butotn-group--}}
				    {{/if}}
				    {{#if button}}
				    	{{> component-button phone=true}}
				    {{/if}}
				</div>{{!--/.card--}}
			</div>{{!--/.cell--}}
			<div class="cell media-cell{{#if xlarge-media}}xlarge-{{xlarge-media}}{{/if}} {{#if large-media}}large-{{large-media}}{{else}}large-6{{/if}} {{#if medium-media}}medium-{{medium-media}}{{else}}medium-6{{/if}} {{#if small-media}}small-{{small-media}}{{/if}} medium-order-{{#if media-left}}1{{else}}2{{/if}} small-order-{{#if media-bottom}}2{{else}}1{{/if}}">
				<div class="duo--media" style="background-image: url({{img}})">
					
					{{!VIDEO MODAL}}
					{{#if video-modal}}
					{{!BUTTON}}
					<a class="button" data-reset-on-close="true" data-ga-event data-ga-category="Video" data-ga-action="open modal" data-ga-label="{{heading}} Video" data-open="{{modal-id}}">Play Video</a>
					{{/if}}

					{{!INSURANCE}}
					{{#if insurance-logos}}
					<div class="grid-x small-up-2 medium-up-4 large-up-2">
					{{#each @root.insurance.logos}}
					<div class="cell">
						<img src="{{src}}" alt="{{alt}}" class="insurance-logos">
					</div>{{!--/.cell--}}
					{{/each}}
					</div>{{!--/.grid-x.small-up-1.medium-up-2--}}
					{{/if}}
				</div>
			</div>{{!--/.cell--}}
			
			{{#if video-modal}}
			{{!REVEAL}}
			<div class="reveal video" id="{{modal-id}}" data-reveal>
				<div class="widescreen flex-video">
					<iframe width="560" height="315" src="{{src}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
				</div>{{!--/widescreen.flex.video--}}
          		<button class="close-button" data-close aria-label="Close modal" type="button">
            		<span aria-hidden>&times;</span>
          		</button>{{!--/button--}}
			</div>{{!--/.reveal--}}
			{{/if}}

		</div>{{!--/.grid-x--}}
	</div>{{!--/.inner--}}
</div>{{!--/.module.duo--}}