{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <title>{{site.title}} | {{> keyword}}</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800|Noto+Serif:400" rel="stylesheet">
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
  
  {{> head-scripts}}
  
</head>

<body>

  {{> homepage}}
  {{> component-button chat=true class="sticky"}}
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>