{{!-- This is the base layout for your project, and will be used on every page. --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex">
  <title>{{site.title}} | 
    {{#ifpage 'prodependence-webinar'}}Prodependece: The End of Codependency{{/ifpage}}
    {{#ifpage 'addiction-treatment-webinar'}}Why We Do What We Do: The Brain in Addiction Treatment{{/ifpage}}
    {{#ifpage 'upcoming-webinar'}}Upcoming Webinar{{/ifpage}}
    {{#ifpage 'covid-impact-webinar'}}Legal impact of COVID-19 on Behavioral Health Industry: What Your Need to Know{{/ifpage}}
    {{#ifpage 'intensive-outpatient-treatment-webinar'}}Intensive Outpatient Treatment of Substance Use Disorders{{/ifpage}}
    {{#ifpage 'maximizing-your-wellness-webinar'}}Maximizing Your Wellness During a Pandemic — How to Soar Above the Panic{{/ifpage}}
    {{#ifpage 'generational-trauma'}}Generational Trauma; Healing the past, the present and the future{{/ifpage}}
    {{#ifpage 'not-your-ordinary-geneogram-webinar'}}Not Your Ordinary Geneogram{{/ifpage}}
    {{#ifpage 'trauma-resolution-webinar'}}Trauma Resolution is Relapse Prevention{{/ifpage}}
    {{> keyword}}</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700,800|Noto+Serif:400" rel="stylesheet">
  <link rel="stylesheet" href="{{root}}assets/css/app.css?ver=1.1">
  <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicons/favicon-16x16.png">
  <link rel="manifest" href="assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">

  {{> head-scripts}}
</head>

<body>

  {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
  {{> body}}
  {{> component-button chat=true class="sticky"}}
    <script src="{{root}}assets/js/app.js"></script>
</body>

</html>